{% extends "govuk/template.njk" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{%- from "moj/components/header/macro.njk" import mojHeader -%}

{% block pageTitle %}
{% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block bodyStart %}
{% endblock %}

{% block head %}
  {% include "includes/head.html" %}
{% endblock %}

{% block header %}
{{ mojHeader({
  organisationLabel: {
    text: organisationName
  },
  serviceLabel: {
    text: serviceName,
    href: '/'
  },
  navigation: {
    label: 'Account navigation',
    items: [{
      text: serialisedName,
      active: false
    }, {
      text: 'Sign out',
      href: '/logout'
    }]
  }
}) }}
{% include 'partials/navigation_new.html' %}
{% if backLinkHref %}
  {{ govukBackLink({
    text: "Back",
    href: backLinkHref
  }) }}
{% endif %}
{% endblock %}

{% block bodyEnd %}
  {% include "includes/scripts.html" %}
{% endblock %}
