{% extends "govuk/template.njk" %}

{%- from "moj/components/header/macro.njk" import mojHeader -%}

{% block pageTitle %}
{% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block bodyStart %}
{% endblock %}

{% block head %}
  {% include "includes/head.html" %}
{% endblock %}

{% block header %}
{{ mojHeader({
  organisationLabel: {
    text: organisationName
  },
  serviceLabel: {
    text: serviceName,
    href: '/'
  },
  navigation: {
    label: 'Account navigation',

    items: [{
      text: serialisedName,
      active: false
    }, {
      text: 'Sign out',
      href: '/logout'
    }]
  }
}) }}
 {% include 'partials/navigation_new.html' %}
 {% endblock %}

{% block bodyEnd %}
  {% include "includes/scripts.html" %}
{% endblock %}
