<div class="header-proposition">
  <div class="content">
    <nav id="proposition-menu">
      <a href="/" id="proposition-name">{% if serviceName %} {{ serviceName }} {% endif %}</a>
      <ul id="proposition-links">
        {% if user %}
        <li>Signed in as {{ user.email }}</li>
        {# APVS0246: TODO Remove hard coding of roles and replace with values from constant file #}
        <li>{% if user.roles.includes('HWPV_BAND_9') %} <a href="/config" id="config">Configuration</a>  {% endif %}</li>
        <li>{% if user.roles.includes('HWPV_SSCL') %} <a href="/download-payment-files" id="sscl">SSCL</a>  {% endif %}</li>
        <li><a href="/logout" id="logout">Sign out</a></li>
        {% endif %}
      </ul>
    </nav>
  </div>
</div>
