{% extends "includes/layout_new.html" %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/character-count/macro.njk" import govukCharacterCount %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{%- from "govuk/components/tag/macro.njk" import govukTag -%}
{% from "govuk/components/details/macro.njk" import govukDetails %}

{% block pageTitle %}
{% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% set activeMainNav = 'audit' %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        {% include "includes/validation-error-messages.html" %}
        <span class="govuk-caption-xl">{{ reference }}</span>
        {% if claimData.Band5Validity != 'Not checked' %}
            <h1 class="govuk-heading-xl">Verify the claim</h1>
        {% else %}
            <h1 class="govuk-heading-xl">Check the claim</h1>
        {% endif %}
        {% set whatYouShouldBeCheckingHtml %}
            <p class="govuk-body">You need to ensure the claim was appropriate.</p>
            <ul class="govuk-list govuk-list--bullet">
                <li>is there anything suspicious about the claim or its approval?</li>
                <li>did the claim amount match the evidence provided?</li>
                <li>did the claimant qualify for the claim?</li>
                <li>was the claim approved with all the necessary evidence provided?</li>
            </ul>
        {% endset %}
        {{ govukDetails({
            summaryText: "What you should be checking",
            html: whatYouShouldBeCheckingHtml
        }) }}

        {{ govukButton({
            text: "View the claim",
            classes: "govuk-button--secondary",
            href: "/claim/" + claimData.ClaimId,
            attributes: {
                target: "_blank"
            }
        }) }}
        <!-- Band 5 result -->
        {% if claimData.Band5Validity != 'Not checked' %}
            <h2 class="govuk-heading-l">Check result</h2>
            <p><span class="govuk-caption-xl">Checked by: {{ claimData.Band5Username }}</span></p>
            {% if claimData.Band5Validity == 'Invalid' %}
                {{ govukTag({
                    text: "Invalid",
                    classes: "govuk-tag--red"
                }) }}
            {% else %}
                {{ govukTag({
                    text: "Valid",
                    classes: "govuk-tag--green"
                }) }}
            {% endif %}
            <p><span class="govuk-caption-xl">{{ claimData.Band5Description }}</span></p>
            <!-- Band 9 result -->
            {% if claimData.Band9Validity != 'Not required' %}
                {% if claimData.Band9Validity == 'Valid' or claimData.Band9Validity == 'Invalid' %}
                    <h2 class="govuk-heading-l">Verification result</h2>
                    <p><span class="govuk-caption-xl">Checked by: {{ claimData.Band9Username }}</span></p>
                    {% if claimData.Band9Validity == 'Invalid' %}
                        {{ govukTag({
                            text: "Invalid",
                            classes: "govuk-tag--red"
                        }) }}
                    {% else %}
                        {{ govukTag({
                            text: "Valid",
                            classes: "govuk-tag--green"
                        }) }}
                    {% endif %}
                    <p><span class="govuk-caption-xl">{{ claimData.Band9Description }}</span></p>
                {% else %}
                <!-- Band 9 check -->
                    {% if isBand9 %}
                        <form action="/audit/check-claim/{{reportId}}/{{reference}}" method="post">
                            {% set band9Description %}
                                {% if errors['band9Description'][0] %}
                                    {{ govukCharacterCount({
                                        name: "band9Description",
                                        id: "band9Description",
                                        maxlength: 200,
                                        label: {
                                            text: "Why was this claim invalid?",
                                            classes: "govuk-hint",
                                            isPageHeading: false
                                        },
                                        errorMessage: {
                                            text: "Please provide reason for invalid"
                                        }
                                    }) }}
                                {% else %}
                                    {{ govukCharacterCount({
                                        name: "band9Description",
                                        id: "band59escription",
                                        maxlength: 200,
                                        label: {
                                            text: "Why was this claim invalid?",
                                            classes: "govuk-hint",
                                            isPageHeading: false
                                        }
                                    }) }}
                                {% endif %}

                            {% endset -%}

                            {% if errors['band9Validation'][0] %}
                                <span class="error-message">{{ errors['band9Validation'][0] }}</span>
                            {% endif %}
                            {{ govukRadios({
                                name: "band9Validation",
                                fieldset: {
                                    legend: {
                                        text: "Is the claim valid or invalid?",
                                        isPageHeading: false,
                                        classes: "govuk-fieldset__legend--l"
                                    }
                                },
                                items: [
                                    {
                                        checked: validationValue === 'Valid',
                                        value: "Valid",
                                        text: "Valid"
                                    },
                                    {
                                        checked: validationValue === 'Invalid',
                                        value: "Invalid",
                                        text: "Invalid",
                                        conditional: {
                                            html: band9Description
                                        }
                                    }
                                ]
                            }) }}

                            <input type="hidden" name="band" value="9">
                            {% include "partials/csrf-hidden-input.html" %}
                            {{ govukButton({
                                text: "Save"
                            }) }}
                        </form>
                    {% endif %}
                {% endif %}
            {% endif %}
        {% else %}
            <!-- Band 5 check -->
            {% if isBand5 %}
                <form action="/audit/check-claim/{{reportId}}/{{reference}}" method="post">
                    {% set band5Description %}
                        {% if errors['band5Description'][0] %}
                            {{ govukCharacterCount({
                                name: "band5Description",
                                id: "band5Description",
                                maxlength: 200,
                                label: {
                                    text: "Why was this claim invalid?",
                                    classes: "govuk-hint",
                                    isPageHeading: false
                                },
                                errorMessage: {
                                    text: "Please provide reason for invalid"
                                }
                            }) }}
                        {% else %}
                            {{ govukCharacterCount({
                                name: "band5Description",
                                id: "band5Description",
                                maxlength: 200,
                                label: {
                                    text: "Why was this claim invalid?",
                                    classes: "govuk-hint",
                                    isPageHeading: false
                                }
                            }) }}
                        {% endif %}

                    {% endset -%}
                    {% if errors['band5Validation'][0] %}
                        <span class="error-message">{{ errors['band5Validation'][0] }}</span>
                    {% endif %}
                    {{ govukRadios({
                        name: "band5Validation",
                        fieldset: {
                            legend: {
                                text: "Is the claim valid or invalid?",
                                isPageHeading: false,
                                classes: "govuk-fieldset__legend--l"
                            }
                        },
                        items: [
                            {
                                checked: validationValue === 'Valid',
                                value: "Valid",
                                text: "Valid"
                            },
                            {
                                checked: validationValue === 'Invalid',
                                value: "Invalid",
                                text: "Invalid",
                                conditional: {
                                    html: band5Description
                                }
                            }
                        ]
                    }) }}
                    <input type="hidden" name="band" value="5">
                    {% include "partials/csrf-hidden-input.html" %}
                    {{ govukButton({
                        text: "Save"
                    }) }}
                </form>
            {% endif %}
        {% endif %}
    </div>
</div>
{% endblock %}
