{% extends "includes/layout.html" %}
{% block page_title %}
{% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}
{% block content %}
<div class="govuk-width-container">
    {% include "includes/phase_banner_beta.html" %}
    <a href="#" id="backBtn" class="govuk-back-link">Back</a>
    <main class="govuk-main-wrapper">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                {% include "includes/validation-error-messages.html" %}
                <span class="govuk-caption-xl">{{ startDate }} - {{ endDate }}</span>
                <h1 class="govuk-heading-xl">Create audit report</h1>
                <p class="govuk-body">You will need to review {{ totalReviewClaim }} claims for this period</p>
                {% if claimCountOverThreshold != 0 %}
                    <p class="govuk-body">This will include {{ claimCountOverThreshold }} claims over £{{ thresholdAmount }}</p>
                {% endif %}
                <form action="/audit/create-report" id="create-report" method="post">
                    {% include "partials/csrf-hidden-input.html" %}
                    {% if totalReviewClaim != 0 %}
                        <input type="submit" class="button" value="Create report">
                    {% endif %}
                </form>
            </div>
        </div>
    </main>
</div>
{% endblock %}
