{% extends "includes/layout.html" %}

{% block page_title %}
{% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% set activeMainNav = 'audit' %}

{% block content %}
<main id="content" role="main">
    <a href="#" id="backBtn" class="govuk-back-link">Back</a>
    <h1 class="govuk-heading-xl">Do you want to delete this audit report?</h1>
    {% include "includes/validation-error-messages.html" %}
    <form action="/audit/delete-report" method="post">
        {% if errors['deleteConfirmation'][0] %}
        <span class="error-message">{{ errors['deleteConfirmation'][0] }}</span>
        {% endif %}
        <div class="govuk-form-group">
                <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="deleteConfirmation" name="deleteConfirmation" type="radio" value="yes">
                        <label class="govuk-label govuk-radios__label" for="deleteConfirmation">
                            Yes
                        </label>
                    </div>
                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="deleteConfirmation-2" name="deleteConfirmation" type="radio" value="no">
                        <label class="govuk-label govuk-radios__label" for="deleteConfirmation-2">
                            No
                        </label>
                    </div>
                </div>
        </div>


        {% include "partials/csrf-hidden-input.html" %}
        <input type="hidden" name="reportId" value="{{ reportId }}">
        <input type="submit" class="button" value="Continue">
    </form>
    </br>
</main>
{% endblock %}
