{% extends "includes/layout_new.html" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/panel/macro.njk" import govukPanel %}

{% block pageTitle %}
{% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% set activeMainNav = 'audit' %}

{% block content %}
    <a href="#" id="backBtn" class="govuk-back-link">Back</a>
    <div class="govuk-width-container">
        <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    {{ govukPanel({
                        titleText: "Report created"
                    }) }}
                </div>
            </div>
        </main>
    </div>

    {{ govukButton({
        text: "View report",
        href: "/audit/view-report/{{ reportId }}"
    }) }}
{% endblock %}
