{% extends "includes/layout_new.html" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/panel/macro.njk" import govukPanel %}

{% block pageTitle %}
{% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% set activeMainNav = 'audit' %}

{% block content %}
    {{ govukPanel({
        titleText: "Report created"
    }) }}

    {{ govukButton({
        text: "View report",
        href: "/audit/view-report/" + reportId
    }) }}
{% endblock %}
