{% extends "includes/layout_new.html" %}

{% block pageTitle %}
{% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% set activeMainNav = 'audit' %}

{% block content %}
    <a href="#" id="backBtn" class="govuk-back-link">Back</a>
    <div class="govuk-width-container">
        <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <div class="govuk-panel govuk-panel--confirmation">
                        <h1 class="govuk-panel__title">
                           Report created
                        </h1>
                    </div>
                </div>
            </div>
        </main>
    </div>


    <a href="/audit/view-report/{{ reportId }}" class="button">View report</a>
{% endblock %}
