{% extends "includes/layout_new.html" %}
{%- from "govuk/components/tag/macro.njk" import govukTag -%}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block pageTitle %}
{% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% set activeMainNav = 'audit' %}

{% block content %}
       <a href="#" id="backBtn" class="govuk-back-link">Back</a>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                {% include "includes/validation-error-messages.html" %}
                {% if reportDeleted %}
                    <h1 class="govuk-heading-xl">View  audit report</h1>
                    <p class="govuk-body">This report is deleted or does not exist.</p>
                {% else %}
                    <span class="govuk-caption-xl">{{ startDate }} - {{ endDate }}</span>
                    <h1 class="govuk-heading-xl">View  audit report</h1>
                    {% if auditStatus == 'Completed' %}
                        {{ govukTag({
                            text: "Completed",
                            classes: "govuk-tag--green"
                        }) }}
                    {% elseif auditStatus == 'NotStarted'  %}
                        {{ govukTag({
                            text: "Not Started",
                            classes: "govuk-tag--grey"
                        }) }}
                    {% elseif auditStatus == 'InProgress'  %}
                        {{ govukTag({
                            text: "Not In Progress",
                            classes: "govuk-tag--blue"
                        }) }}
                    {% endif %}
                    </br></br>
                    <p1 class="govuk-body">You will need to review the claims and mark as valid or invalid.</p1>
                    </br></br></br>
                    {% if auditStatus == 'Completed' %}
                        <form action="/audit/print-report" method="post">
                            <input type="hidden" name="reportId" value="{{ reportId }}">
                            {% include "partials/csrf-hidden-input.html" %}
                            {{ govukButton({
                                text: "Print report"
                            }) }}
                        </form>
                        </br></br>
                    {% endif %}
                        <form action="/audit/delete-report-confirmation" method="post">
                            <input type="hidden" name="reportId" value="{{ reportId }}">
                            {% include "partials/csrf-hidden-input.html" %}
                            {{ govukButton({
                                type: "button",
                                text: "Delete report",
                                classes: "govuk-button--secondary"
                            }) }}
                        </form>

                    <table class="govuk-table">
                        <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                            <th scope="col" class="govuk-table__header govuk-!-width-one-third">Reference</th>
                            <th scope="col" class="govuk-table__header govuk-!-width-one-third">Initial check</th>
                            <th scope="col" class="govuk-table__header govuk-!-width-one-third">Verification check</th>
                        </tr>
                        </thead>
                        <tbody class="govuk-table__body">
                        {% for claimCheck in claimCheckList %}
                            <tr class="govuk-table__row">
                                <td class="govuk-table__cell"><a href="/audit/check-claim/{{ reportId }}/{{ claimCheck.reference }}">{{ claimCheck.reference }}</a></td>
                                <td class="govuk-table__cell">{{ claimCheck.initialCheck }}</td>
                                <td class="govuk-table__cell">{{ claimCheck.verificationCheck }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% endif %}
            </div>
        </div>
{% endblock %}
