// Path to assets for use with the file-url function
// in the govuk frontend toolkit's url-helpers partial
$path: "/public/images/";

// This includes entire govuk-elements from _govuk-elements.scss
@import 'govuk-elements';

 table.col-2 td:first-child {
 width:220px!important;
 font-weight:bold;
 }

 table.no-pad-right td {
    padding-right: 0;
 }

.table-heading {
 font-size:30px;
 font-weight:bold;
 border-bottom:1px solid #ccc;
 padding-bottom:10px;
    margin-bottom: 0px;
    margin-top: 40px;
 }

 span.bold {
    font-weight:bold;
}

span.error {
    font-weight:bold;
    background:#f2dede!important;
    border:2px solid #a94442;
    color:#a94442!important;
    margin:0 0 0 10px;
    padding:1px 5px!important;
}

span.updated {
    font-weight:bold;
    background:#e1f5fa!important;
    color:#1f96b0!important;
    border:2px solid #1f96b0;
    margin:0 0 0 10px;
    padding:1px 5px!important;
}

td.text-right {
    text-align:right;
}

.orange {
    background:#f8a052;
}

.warning {
    padding:10px;
    background:#f2dede;
    border-left:5px solid #a94442;
    color:#a94442;
}

tr.warning td{
    background:#f2dede;
    color:#a94442;
}

tr.warning td:first-child{
    padding:10px;
    border-left:5px solid #a94442;
    color:#a94442;
}

.updated {
    padding:10px;
    background:#e1f5fa;
    border-left:5px solid #e99128;
    color:#1f96b0;
}

tr.updated td{
    background:#e1f5fa;
    color:#1f96b0;
}

tr.updated td:first-child{
    padding:10px;
    border-left:5px solid #1f96b0;
    color:#1f96b0;
}

ul.edit  li{
    text-align:right;
}

span.bold {
    font-weight:bold;
}

.inline {
    clear:none!important;
    margin-right:5px;
    padding-right:20px;
}

.form-control.action-select{
    width:250px;
    float:right;
}

.form-control.full{
    width:100%;
}

.form-control.cost{
    width:90px;
    margin-left: 10px;
    display: none;
}

td.claim-expense-response{
    width:360px;
}

.button.grey {
    background:#cccccc;
    color:#000;
}

.button.orange {
    background:#f48f0b;
}

.button.red {
    background:#f40b0c;
}

.pull-right {
    float:right;
}

tr.no-border td{
    border:none;
}

#content {
    font-size:18px;
}

#content table tr td{
    font-size:16px;
}

td.text-right {
    text-align:right;
}

.orange {
    background:#f8a052;
}

.warning {
    padding:10px;
    background:#f2dede;
    border-left:5px solid #a94442;
    color:#a94442;
}

tr.warning td{
    background:#f2dede;
    color:#a94442;
}

tr.warning td:first-child{
    padding:10px;
    border-left:5px solid #a94442;
    color:#a94442;
}

.error-summary span.text-warning {
    padding-top:0px;
    margin-top:0px;
}

.text-pending {
    color:#d2841c;
    padding-top:6px;
    display:inline-block;
}

.text-pending:before {
    background-color: #d2841c;
    color:#d2841c;
}

.text-pending:before {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    content: '!';
    color: #fff;
    display: inline-block;
    font-family: arial;
    font-weight: bold;
    height: 1em;
    line-height: 1;
    margin-left: 0px;
    margin-right: 5px;
    padding: 2px;
    text-align: center;
    width: 1em;
}

.text-warning {
    color:#b10e1e;
    padding-top:6px;
    display:inline-block;
}

.text-warning:before {
    background-color: #b10e1e;
    color:#b10e1e;
}

.text-warning:before {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    content: '!';
    color: #fff;
    display: inline-block;
    font-family: arial;
    font-weight: bold;
    height: 1em;
    line-height: 1;
    margin-left: 0px;
    margin-right: 5px;
    padding: 2px;
    text-align: center;
    width: 1em;
}

.text-success {
    color:#00823b;
    padding-top:2px;
    display:inline-block;
}

.text-success:before {
    background-color: #00823b;
    color:#00823b;
}
.text-success:before {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    content: '✔ ';
    color: #fff;
    display: inline-block;
    font-family: arial;
    font-weight: bold;
    font-size:12px;
    height: 1em;
    line-height: 1;
    margin-left: 0px;
    margin-right: 5px;
    padding: 4px;
    text-align: center;
    width: 1em;
}

#login-details {
    float: right;
    color: white!important;
}
#logout, #config {
    color: white!important;
}