// Path to assets for use with the file-url function
// in the govuk frontend toolkit's url-helpers partial
$path: "/public/images/";

// This includes entire govuk-elements from _govuk-elements.scss
@import 'govuk-elements';

// override datatable styles

table.dataTable thead th {
    padding-left: inherit;
    padding-right: inherit;
}

table.dataTable tbody td {
    padding-left: inherit;
    padding-right: inherit;
}

table.col-2 td:first-child {
    width:220px!important;
    font-weight:bold;
}

table.no-pad-right td {
    padding-right: 0;
}

.table-heading {
    font-size:30px;
    font-weight:bold;
    border-bottom:1px solid #ccc;
    padding-bottom:10px;
    margin-bottom: 0px;
    margin-top: 40px;
}

.search {
    padding: 15px 0 0 0;
}

.search input.form-control {
    width: 200px;
}

.rejection-reason {
    width: 1000px;
}

.advanced-search-date .form-group {
  margin-right: 15px;
}

.margin-left {
    margin-left: 20px;
}

.margin-right {
  margin-right: 40px;
}

.margin-top label {
    margin-top: 25px;
    display: inline-block;
}

.margin-top.link {
    margin-top: 7px;
    display: inline-block;
}

.pound-wrapper .pound-symbol {
    font-size: 19px;
    background-color: #dee0e2;
    position: absolute;
    padding: 5px 10px 4px 10px;
    margin: 2px 0 0px 2px;
    border-right: 1px solid #bfc1c3
}

.pound-wrapper input {
  padding-left: 40px;
}

.percentage-wrapper span {
    font-size: 19px;
    background-color: #dee0e2;
    position: absolute;
    padding: 5px 10px 4px 10px;
    margin: 2px 0 0px 2px;
    border-right: 1px solid #bfc1c3
}

.percentage-wrapper input {
  padding-left: 40px;
}

.tag {
    display: inline-block;
    padding: 3px 5px 1px;
}

.tag.first-time {
    background-color: #2b8cc4;
    color:#fff;
}

.tag.repeat {
    background-color: #15554f;
    color:#fff;
}

.tag.repeat-duplicate {
    background-color: #15554f;
    color:#fff;
}

.tag.repeat-new-eligibility {
    background-color: #1B567D;
    color:#fff;
}

.space-right{
  padding-right: 0.3em
}

span.bold {
    font-weight:bold;
}

span.error {
    font-weight:bold;
    background:#f2dede!important;
    border:2px solid #a94442;
    color:#a94442!important;
    margin:0 0 0 10px;
    padding:1px 5px!important;
}

span.updated {
    font-weight:bold;
    background:#e1f5fa!important;
    color:#1f96b0!important;
    border:2px solid #1f96b0;
    margin:0 0 0 10px;
    padding:1px 5px!important;
}

td.text-right {
    text-align:right;
}

.orange {
    background:#f8a052;
}

.warning {
    padding:10px;
    background:#f2dede;
    border-left:5px solid #a94442;
    color:#a94442;
}

tr.warning td{
    background:#f2dede;
    color:#a94442;
}

tr.warning td:first-child{
    padding:10px;
    border-left:5px solid #a94442;
    color:#a94442;
}

.updated {
    padding:10px;
    background:#e1f5fa;
    border-left:5px solid #e99128;
    color:#1f96b0;
}

tr.updated td{
    background:#e1f5fa;
    color:#1f96b0;
}

tr.updated td:first-child{
    padding:10px;
    border-left:5px solid #1f96b0;
    color:#1f96b0;
}

ul.edit  li{
    text-align:right;
}

span.bold {
    font-weight:bold;
}

.inline {
    clear:none!important;
    margin-right:5px;
    padding-right:20px;
}

.visibility-visible {
  visibility: visible;
}
.visibility-hidden {
  visibility: hidden;
}
.display-none {
  display: none;
}

.form-control.action-select{
    width:200px;
    float:right;
}

.change {
    float:right;
    font-weight: bold;
    padding-right: 0;
}

.form-control.full{
    width:100%;
}

.form-control.cost{
    width:90px;
    margin-left: 20px;
}

.button.grey {
    background:#cccccc;
    color:#000;
}

.button.assignment {
  margin-top: -1em;
}

.button.orange {
    background:#f48f0b;
}

.button.red {
    background:#f40b0c;
}

.pull-right {
    float:right;
}

.no-right-padding {
    padding-right:0px;
}

tr.no-border td{
    border:none;
}

#content {
    font-size:18px;
}

#content table tr td{
    font-size:16px;
}

td.text-right {
    text-align:right;
}

.orange {
    background:#f8a052;
}

.warning {
    padding:10px;
    background:#f2dede;
    border-left:5px solid #a94442;
    color:#a94442;
}

tr.warning td{
    background:#f2dede;
    color:#a94442;
}

tr.warning td:first-child{
    padding:10px;
    border-left:5px solid #a94442;
    color:#a94442;
}

.error-summary span.text-warning {
    padding-top:0px;
    margin-top:0px;
}

.text-pending {
    color:#d2841c;
    padding-top:6px;
    display:inline-block;
}

.text-pending:before {
    background-color: #d2841c;
    color:#d2841c;
}

.text-pending:before {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    content: '!';
    color: #fff;
    display: inline-block;
    font-family: arial;
    font-weight: bold;
    height: 1em;
    line-height: 1;
    margin-left: 0px;
    margin-right: 5px;
    padding: 2px;
    text-align: center;
    width: 1em;
}

.text-warning {
    color:#b10e1e;
    padding-top:6px;
    display:inline-block;
}

.text-warning:before {
    background-color: #b10e1e;
    color:#b10e1e;
}

.text-warning:before {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    content: '!';
    color: #fff;
    display: inline-block;
    font-family: arial;
    font-weight: bold;
    height: 1em;
    line-height: 1;
    margin-left: 0px;
    margin-right: 5px;
    padding: 2px;
    text-align: center;
    width: 1em;
}

.text-success {
    color:#00823b;
    padding-top:2px;
    display:inline-block;
}

.text-success:before {
    background-color: #00823b;
    color:#00823b;
}
.text-success:before {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    content: '✔ ';
    color: #fff;
    display: inline-block;
    font-family: arial;
    font-weight: bold;
    font-size:12px;
    height: 1em;
    line-height: 1;
    margin-left: 0px;
    margin-right: 5px;
    padding: 4px;
    text-align: center;
    width: 1em;
}

ul.doc-upload li {
    display:block;
    margin:5px 0 10px 0;
    padding:0;
    width:100%;
    float:left;
    overflow:auto;
}

ul.doc-upload {
    width:100%;
    float:left;
    position:relative;
    margin:0 0 0px 0;
}

.custom-file-upload input[type="file"] {
    display: none;
}

.remove-upload {
    display: none;
}

label.custom-file-upload {
   display:inline-block;
   margin-bottom:20px;
}

.custom-file-upload {
       padding: .526315em .789473em .263157em;
     background-color: #dee0e2;
    position: relative;
    border: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-appearance: none;
    -webkit-box-shadow: 0 2px 0 #b5babe;
    -moz-box-shadow: 0 2px 0 #b5babe;
    box-shadow: 0 2px 0 #b5babe;
    font-size: 1em;
    line-height: 1.25;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    cursor: pointer;
    color: #0b0c0c;
}

#proposition-links li {
    color: white!important;
}

.claim-expense {
  td {
    word-wrap: break-word;
  }
  td:nth-child(1) {
    width: 35%;
  }
  td:nth-child(2) {
    width: 5%;
  }
  td:nth-child(3) {
    width: 25%;
  }
  td:nth-child(4) {
    width: 35%;
  }
}

ul.claim-dialog li {
  max-width: 550px;
  padding: 10px;
  margin: 0 0 10px 0;
  display: block;
  clear: both !important;
}

ul.claim-dialog li p {
  margin: 0 0 5px 0;
}

ul.claim-dialog li h2 {
  font-weight: bold;
  margin: 0 0 5px 0;
}

ul.claim-dialog li p.time {
  font-style: italic;
  font-size: 16px;
  margin: 0;
}

ul.claim-dialog li.claimant {
  background: #e0eef1;
  float: left;
}

ul.claim-dialog li.caseworker {
  background: #b5e6f1;
  float: right;
  text-align: right;
}

ul.claim-dialog li.internal{
  background: #e6e6fa;
  float: left;
}

ul.claim-dialog-public li h2 {
  font-weight: bold;
  margin: 0 0 5px 0;
}

ul.claim-dialog-public li p.time {
  font-style: italic;
  font-size: 16px;
  margin: 0;
}

ul.claim-dialog-public li.caseworker {
  background: #e0eef1;
}

ul.claim-dialog-public li.claimant {
  background: #b5e6f1;
  float: right;
  text-align: right;
}

ul.sub-tabs {
    border-bottom:2px solid #ccc;
    display:block;
    width:100%;
    overflow:auto;
    margin:0!important;
}

ul.sub-tabs li a{
    background: #dde0e2;
    padding:11px 11px;
    margin: 0 4px 0px 0;
    display:inline-block;
    position:relative;
    float:left;
    text-decoration:none;
    color:#000;
}

ul.sub-tabs li a:hover{
    background: #dde0e2;
}

ul.sub-tabs li a.active{
    background: #ffc136;
    display:block;
    text-decoration:none;
}

ul.sub-tabs li a span.badge  {
    font-size: 14px;
    padding:1px 3px 0px 4px;
    min-width: 15px;
    display: inline-block;
    border-radius: 20px;
    text-align: center;
    background:#004A83;
    margin:0 0 0 10px;
    font-weight:bold;
    color:#fff;
}

ul.sub-tabs li a.active span.badge {
    background:#fff;
    background:#b10e1e;
}

.banner {
  padding: 10px;
  background: #f2dede;
  border-left: 5px solid #a94442;
  color: #a94442;
}

.heading-small {
  font-family: "nta", Arial, sans-serif;
  font-weight: 700;
  text-transform: none;
  font-size: 16px;
  line-height: 1.25;
  margin-top: 0.625em;
  margin-bottom: 0.3125em;
}

@media (min-width: 641px) {
  .heading-small {
    font-size: 19px;
    line-height: 1.3157894737;
  }
}

@media (min-width: 641px) {
  .heading-small {
    margin-top: 1.0526315789em;
  }
}

#sub-nav {
  margin-bottom: 20px;
  background-color: #fff;
  border-bottom: 1px solid #bfc1c3;
  padding-top: 0.75em;
  padding-bottom: 0.75em;
  padding: 0;
  z-index: 999;
}

#sub-nav li {
  position: relative;
  display: inline;
}

#sub-nav li img {
  position: relative;
  top: 2px;
  right: 8px;
}

#sub-nav li a.active {
  font-weight: bold;
  background-color: #004A83;
  color: #fff;
}

#sub-nav a {
  display: inline-block;
  font-weight: bold;
  margin: 0;
  outline: 0;
  padding: 15px 30px;
  text-decoration: none;
}

#dashboard .number {
  font-size: 65px;
  font-weight: bold;
}

#dashboard h2 {
  border-top: 2px solid #bfc1c3;
  font-size: 30px;
  font-weight: bold;
  margin: 30px 0 5px 0;
  padding: 15px 0 0 0;
}
