{% if displayHelper.getClaimStatusClosed(Claim['Status'], Claim['IsAdvanceClaim'], Claim['DateOfJourney']) %}
<form action="/claim/{{ Claim['ClaimId'] }}/add-top-up" method="post" class="form">
  {% include "partials/csrf-hidden-input.html" %}
  <input type="hidden" name="lastUpdated" value="{{ Claim['lastUpdatedHidden'] }}">
  
  {{ govukInput({
    label: { 
      text: "Amount",
      classes: "govuk-label--l",
      isPageHeading: true 
    },
    formGroup: { 
      classes: "govuk-!-margin-bottom-4"
    },
    id: "top-up-amount",
    name: "top-up-amount",
    classes: "claim-table-width-one-sixth",
    errorMessage: errors | findError('top-up-amount'),
    value: topUpAmount,
    prefix: { 
      text: "£" 
    },
    attributes: {
      "inputmode": "decimal"
    },
    type: "number"
  }) }}
  
  {{ govukTextarea({
    name: "top-up-reason",
    id: "top-up-reason",
    rows: "2",
    classes: "govuk-!-width-one-half",
    errorMessage: errors | findError('top-up-reason'),
    attributes: {
      "maxlength": 2000
    },
    label: {
      text: "Reason",
      classes: "govuk-label--l",
      isPageHeading: true
    }
  }) }}
  
  {{ govukButton({
    text: "Add Top Up",
    name: "add-top-up",
    id: "add-top-up",
    type: "submit",
    attributes: {
      formaction: "/claim/" + Claim['ClaimId'] + "/add-top-up"
    },
    classes: ""
  }) }}
</form>
{% endif %}
