{% if displayHelper.getClaimStatusClosed(Claim['Status'], Claim['IsAdvanceClaim'], Claim['DateOfJourney']) %}

<form action="/claim/{{ Claim['ClaimId'] }}/close-advance-claim" method="post" class="form">
  {% include "partials/csrf-hidden-input.html" %}
  <input type="hidden" name="lastUpdated" value="{{ Claim['lastUpdatedHidden'] }}">
  
  {{ govukTextarea({
    name: "close-advance-claim-reason",
    id: "close-advance-claim-reason",
    rows: "2",
    classes: "govuk-!-width-one-half",
    errorMessage: '',
    attributes: {
      "maxlength": 2000
    },
    label: {
      text: "Note to claimant (optional)",
      classes: "govuk-label--l",
      isPageHeading: true
    }
  }) }}
  
  {{ govukButton({
    text: "Submit",
    name: "close-advance-claim",
    id: "close-advance-claim-submit",
    type: "submit",
    attributes: {
      formaction: "/claim/" + Claim['ClaimId'] + "/close-advance-claim"
    },
    classes: ""
  }) }}
</form>
{% endif %}
