{%- from "moj/components/primary-navigation/macro.njk" import mojPrimaryNavigation -%}

{% if user %}

  {% set primaryNavigationItems = [] %}


  {# Conditional checks for displaying nav items #}
  {% if user.roles.includes( applicationRoles.CLAIM_ENTRY_BAND_2 ) or user.roles.includes( applicationRoles.CLAIM_PAYMENT_BAND_3 ) or user.roles.includes( applicationRoles.CASEWORK_MANAGER_BAND_5 ) or user.roles.includes( applicationRoles.BAND_9 ) %}
  {% set primaryNavigationItems = primaryNavigationItems | concat([{
    text: 'Dashboard',
    href: '/dashboard',
    active: activeMainNav === 'dashboard'
  }]) %}
    
  {% endif %}

  

  {% if user.roles.includes( applicationRoles.CLAIM_ENTRY_BAND_2 ) or user.roles.includes( applicationRoles.CLAIM_PAYMENT_BAND_3 ) or user.roles.includes( applicationRoles.CASEWORK_MANAGER_BAND_5 ) or user.roles.includes( applicationRoles.BAND_9 ) %}
  {% set primaryNavigationItems = primaryNavigationItems | concat([{
    text: 'Claims',
    href: '/',
    active: activeMainNav === 'claims'
  }]) %}

{% endif %}

{% if user.roles.includes( applicationRoles.CASEWORK_MANAGER_BAND_5 ) or user.roles.includes( applicationRoles.BAND_9 ) %}
  {% set primaryNavigationItems = primaryNavigationItems | concat([{
    text: 'Audit',
    href: '/audit',
    active: activeMainNav === 'audit'
  }]) %}
{% endif %}

{% if user.roles.includes( applicationRoles.HWPV_SSCL ) %}
  {% set primaryNavigationItems = primaryNavigationItems | concat([{
    text: 'Download payment files',
    href: '/download-payment-files',
    active: activeMainNav === 'download'
  }]) %}
 {% endif %}

 {# TODO: Check for HWPV Application Developer role  #}
 {% if user.roles.includes( applicationRoles.BAND_9 ) %}
  {% set primaryNavigationItems = primaryNavigationItems | concat([{
    text: 'Settings',
    href: '/config',
    active: activeMainNav === 'config'
  }]) %}
  {% endif %}
  
 
  {{ mojPrimaryNavigation({
    label: 'Primary navigation',
    items: primaryNavigationItems
  }) }}
{% endif %}
