<h1 class="table-heading">Deduction</h1>
<table>
  <tbody>
    <tr>
      <td>
        Type: <select id="deductionType" name="deductionType" class="form-control">
          <option {% if not formData.deductionType %}selected{% endif %}>Select</option>
          <option {% if formData.deductionType == 'hc3' %}selected{% endif %} value="hc3">{{ displayHelper.getDeductionTypeDisplayName('hc3') }}</option>
          <option {% if formData.deductionType == 'overpayment' %}selected{% endif %} value="overpayment">{{ displayHelper.getDeductionTypeDisplayName('overpayment') }}</option>
        </select>
      </td>
      <td>
        Amount: <input id="deductionAmount" name="deductionAmount" type="text" class="form-control" value="{{ formData.deductionAmount }}">
      </td>
      <td>
        <input type="submit" formaction="/claim/{{ Claim['ClaimId'] }}/add-deduction" class="button pull-right grey" name="add-deduction" id="add-deduction" value="Submit">
      </td>
    </tr>
  </tbody>
</table>