{% from "govuk/components/table/macro.njk" import govukTable %}

{% if Claim.AccountNumber %}
{{ govukTable({
  caption: 'Bank Account Details',
  captionClasses: "govuk-table__caption--l",
  firstCellIsHeader: true,
  rows: [
    [
      {
        text: 'Name on Account',
        classes: "claim-table-width-one-third",
        id: 'benefit-owner-name'
      },
      {
        text: Claim['NameOnAccount'] ,
        classes: "govuk-!-width-two-thirds"
      }
    ],
    [
      {
        text: 'Account Number',
        classes: "claim-table-width-one-third",
        id: 'benefit-owner-name'
      },
      {
        text: displayHelper.maskString(Claim['AccountNumber'],4),
        classes: "govuk-!-width-two-thirds"
      }
    ]
  ]
}) }}
{% endif %}