{% from "govuk/components/table/macro.njk" import govukTable %}

{% if Claim.BenefitOwnerFirstName %}
{{ govukTable({
  caption: "Benefit owner",
  captionClasses: "govuk-table__caption--l",
  firstCellIsHeader: true,
  classes: "govuk-!-margin-top-8",
  rows: [
    [
      {
        text: "Name",
        classes: "claim-table-width-one-third",
        id: "benefit-owner-name"
      },
      {
        text: Claim.BenefitOwnerFirstName + " " + Claim.BenefitOwnerLastName,
        classes: "govuk-!-width-two-thirds"
      }
    ],
    [
      {
        text: "Date of birth",
        classes: "claim-table-width-one-third"
      },
      {
        text: getDateFormatted.shortDate(Claim.BenefitOwnerDateOfBirth),
        classes: "govuk-!-width-two-thirds"
      }
    ],
    [
      {
        text: "National insurance number",
        classes: "claim-table-width-one-third"
      },
      {
        text: Claim.BenefitOwnerNationalInsuranceNumber,
        classes: "govuk-!-width-two-thirds"
      }
    ]
  ]
}) }}
{% else %}
{{ govukTable({
  caption: "Benefit owner",
  captionClasses: "govuk-table__caption--l",
  firstCellIsHeader: true,
  classes: "govuk-!-margin-top-8",
  rows: [
    [
      {
        text: "Name",
        classes: "claim-table-width-one-third",
        id: "benefit-owner-name"
      },
      {
        text: Claim.FirstName + " " + Claim.LastName,
        classes: "govuk-!-width-two-thirds"
      }
    ],
    [
      {
        text: "Date of birth",
        classes: "claim-table-width-one-third"
      },
      {
        text: getDateFormatted.shortDate(Claim.DateOfBirth),
        classes: "govuk-!-width-two-thirds"
      }
    ],
    [
      {
        text: "National insurance number",
        classes: "claim-table-width-one-third table-no-border-bottom"
      },
      {
        text: Claim.NationalInsuranceNumber,
        classes: "govuk-!-width-two-thirds table-no-border-bottom"
      }
    ]
  ]
}) }}
{% endif %}
