{% if errors['claim-expense'][0] %}
  <span class="error-message" id="error-message-status-request">{{ errors['claim-expense'][0] }}</span>
{% endif %}

{% if errors['approve-cost'][0] %}
  <span class="error-message" id="error-message-cost-request">{{ errors['approve-cost'][0] }}</span>
{% endif %}

{% if errors['claim-expenses'][0] %}
  <span class="error-message" id="claim-expenses">{{ errors['claim-expenses'][0] }}</span>
{% endif %}

{% if errors['total-approved-cost'][0] %}
<span class="error-message" id="total-approved-cost">{{ errors['total-approved-cost'][0] }}</span>
{% endif %}

<table class="no-pad-right claim-expense">
  <tbody>
    {% for expense in Expenses %}

      <tr {% if expense['Status'] == 'Select' %} class="warning" {% endif %} {% if expense['Error'] %} class="warning"{% endif %}>
        <td><span class="bold">{{ getDisplayFieldName[expense['ExpenseType']] }} </span>
          <br>
          {# car expenses have styling for distance calculation and their data is not entered directly by users so is safe #}
          {% if expense['ExpenseType'] == 'car' %}{{ getClaimExpenseDetailFormatted(expense) | safe }}{% else %}{{ getClaimExpenseDetailFormatted(expense) }}{% endif %}
          <input id="claim-expense-{{ expense.ClaimExpenseId }}-cost" name="claim-expense-{{ expense.ClaimExpenseId }}-cost" type="hidden" value="{{ expense['Cost'] }}">
        </td>

        <td class="cost">£{{ displayHelper.toDecimal(expense['Cost']) }}</td>

        <td>
          {% if receiptAndProcessedManuallyEnum[expense.ExpenseType].receiptRequired %}
            {% if expense.DocumentStatus == 'uploaded' %}
              <a href="/claim/{{ Claim['ClaimId'] }}/download?claim-document-id={{ expense['ClaimDocumentId'] }}">View receipt</a>

            {% elif expense.DocumentStatus == 'upload-later' %}
              <span class="text-pending">To be uploaded later</span>
              {% if unlock %}
              <a href="/claim/file-upload/{{ Claim['Reference'] }}/{{ Claim['ClaimId'] }}/RECEIPT?eligibilityId={{ Claim['EligibilityId'] }}&claimExpenseId={{ expense.ClaimExpenseId }}&claimDocumentId={{ expense.ClaimDocumentId }}" class="button grey pull-right">Add</a>
              {% endif %}

            {% elif expense.DocumentStatus == 'post-later' %}
              <span class="text-pending">To be posted later</span>
              {% if unlock %}
              <a href="/claim/file-upload/{{ Claim['Reference'] }}/{{ Claim['ClaimId'] }}/RECEIPT?eligibilityId={{ Claim['EligibilityId'] }}&claimExpenseId={{ expense.ClaimExpenseId }}&claimDocumentId={{ expense.ClaimDocumentId }}" class="button grey pull-right">Add</a>
              {% endif %}

            {% elif Claim.IsAdvanceClaim %}
              <span class="text-pending">Receipt to be uploaded after visit</span>

            {% else %}
              <span class="text-warning">Receipt required</span>

            {% endif %}
          {% endif %}
        </td>

        <td class="claim-expense-response">
        {% if unlock %}
          <select id="claim-expense-{{ expense.ClaimExpenseId }}-status" data-id="{{ expense.ClaimExpenseId }}" name="claim-expense-{{ expense.ClaimExpenseId }}-status"
            class="form-control action-select claim-expense-status">
            <option {% if expense['Status'] == undefined %} selected {% endif %}>Select</option>
            {% if expense['Cost'] > 0 %}
            <option {% if expense['Status'] == claimDecisionEnum.APPROVED %} selected {% endif %} value="{{ claimDecisionEnum.APPROVED }}">Approve</option>
            {% endif %}
            {% if not Claim['IsAdvanceClaim'] or not receiptAndProcessedManuallyEnum[expense.ExpenseType].processedManually %}
            <option {% if expense['Status'] == claimDecisionEnum.APPROVED_DIFF_AMOUNT %} selected {% endif %} value="{{ claimDecisionEnum.APPROVED_DIFF_AMOUNT }}" >Approve different amount</option>
            {% endif %}
            <option {% if expense['Status'] == claimDecisionEnum.REQUEST_INFORMATION %} selected {% endif %} value="{{ claimDecisionEnum.REQUEST_INFORMATION }}">Request information</option>
            {% if Claim['IsAdvanceClaim'] and receiptAndProcessedManuallyEnum[expense.ExpenseType].processedManually %}
            <option {% if expense['Status'] == claimDecisionEnum.MANUALLY_PROCESSED %} selected {% endif %} value="{{ claimDecisionEnum.MANUALLY_PROCESSED }}">Booked tickets using Redfern</option>
            {% endif %}
            <option {% if expense['Status'] == claimDecisionEnum.REJECTED %} selected {% endif %} value="{{ claimDecisionEnum.REJECTED }}">Reject item</option>
          </select>
          <input id="claim-expense-{{ expense.ClaimExpenseId }}-approvedcost" type="text"
            name="claim-expense-{{ expense.ClaimExpenseId }}-approvedcost" value="{{ displayHelper.toDecimal(expense['ApprovedCost']) }}"
            class="form-control cost
              {% if expense['Status'] == claimDecisionEnum.APPROVED_DIFF_AMOUNT %}
                visibility-visible
              {% else %}
                visibility-hidden
              {% endif %}">
        {% else %}
          {% if expense['ApprovedCost'] %} £{{ displayHelper.toDecimal(expense['ApprovedCost']) }} {% endif %}
          <input id="claim-expense-hidden-{{ expense.ClaimExpenseId }}-approvedcost" type="hidden"
            name="claim-expense-hidden-{{ expense.ClaimExpenseId }}-approvedcost" value="{{ displayHelper.toDecimal(expense['ApprovedCost']) }}"
            class="form-control approved-cost">
        {% endif %}
        </td>
      </tr>

    {% endfor %}

    {% for deduction in deductions %}
    <tr>
      <td>
        <span class="bold">{{ displayHelper.getDeductionTypeDisplayName(deduction.DeductionType) }}</span>
        <br>
        Deduction
      </td>
      <td class="deduction">-£{{ displayHelper.toDecimal(deduction['Amount']) }}</td>
      <td></td>
      <td>{% if unlock %}<input type="submit" formaction="/claim/{{ Claim['ClaimId'] }}/remove-deduction" name='remove-deduction-{{ deduction.ClaimDeductionId }}' class='button pull-right grey remove-deduction-button' value='Remove'>{% endif %}</td>
    </tr>
    {% endfor %}

    <tr {% if errors['total-approved-cost'] %} class="warning" {% else %} class="no-border total-approved-cost"{% endif %}>
      <td class="text-left"><h3 class="heading-small space-right">Total approved cost:</h3></td>
      <td><h3 class="heading-small claim-expense-approvedCostText">£0.00</h3></td>
      <td></td>
      <td></td>
    </tr>

  </tbody>
</table>
