{%- from "moj/components/timeline/macro.njk" import mojTimeline -%}

{% if claimEvents.length > 0 %}
  {% set timelineEvents = [] %}

  {% set carrot %}
 
  {% endset %}

  {% set reversedClaimEvents = claimEvents | reverse %}

  {% for claimEvent in reversedClaimEvents %}
    {% set label = { text: displayHelper.getClaimEventDisplayName(claimEvent.Event) } %}

    {% if claimEvent.Caseworker %}
      {% set byline = { text: claimEvent.Caseworker } %}
    {% else %}
      {% set byline = { text: Claim['FirstName'] + ' ' + Claim['LastName'] } %}
    {% endif %}

    {% set additionalData = claimEvent.AdditionalData %}

    {% if claimEvent.IsInternal %}
      {% set html = claimEvent.Note | safe %}
      {% if claimEvent.ClaimDocumentId %}
        {% set html = html + '<a href="/claim/' + Claim['ClaimId'] + '/download?claim-document-id=' + claimEvent.ClaimDocumentId + '">View document</a>' %}
      {% endif %}
    {% else %}
      {% set html = claimEvent.Note %}
    {% endif %}

    {% set datetime = { timestamp: claimEvent.DateAdded, type: 'datetime' } %}
    
    {% set event = { 
      label: label,
      text: additionalData, 
      html: html, 
      byline: byline, 
      datetime: datetime } %}
    {% set timelineEvents = timelineEvents.concat([event]) %}
  {% endfor %}

  <h1 class="govuk-table__caption--l govuk-!-margin-bottom-6">Claim history</h1>
  {{ mojTimeline({
    items: timelineEvents
  }) }}
{% endif %}


