{% if claimEvents.length > 0 %}
<h1 class="heading-medium">Additional information</h1>
<ul class="claim-dialog">
  {% for claimEvent in claimEvents %}
    {% if claimEvent.IsInternal %}<li class="internal">
      <h2>{{ claimEvent.Event }}</h2>

    {% elif claimEvent.Caseworker %}<li class="caseworker">
      <h2>{{ claimEvent.Caseworker }}</h2>
      <h2>{{ claimEvent.Event }}</h2>

    {% else %}<li class="claimant">
      <h2>{{ Claim['FirstName'] }} {{ Claim['LastName'] }}</h2>

    {% endif %}
    <p>{{ claimEvent.AdditionalData }}</p>

    {% if claimEvent.IsInternal %}
      <p>{{ claimEvent.Note|safe }}</p>
      {% if claimEvent['ClaimDocumentId'] %}
        <a href="/claim/{{ Claim['ClaimId'] }}/download?claim-document-id={{ claimEvent['ClaimDocumentId'] }}">View document</a>
      {% endif %}
    {% else %}
      <p>{{ claimEvent.Note }}</p>
    {% endif %}

    <p class="time">{{ getDateFormatted.shortDateAndTime(claimEvent.DateAdded) }}</p>
  </li>
  {% endfor %}
</ul>
{% endif %}
