{% if displayHelper.getClaimStatusClosed(Claim['Status'], Claim['IsAdvanceClaim'], Claim['DateOfJourney']) %}
  <div class="panel js-hidden" id="close-advanced-claim-input">
    <div class="form-group">
      <label class="form-label-bold" for="close-advance-claim-reason">Note to claimant (optional)</label>
      <textarea id="close-advance-claim-reason" class="form-control" name="close-advance-claim-reason"></textarea>
    </div>

    <input type="submit" class="button" name="close-advance-claim" id="close-advance-claim-submit" value="Submit">
  </div>
{% endif %}