{% if displayHelper.getClaimStatusClosed(Claim['Status']) %}
  <br >
  <div id="closedClaimAction" class="form-group">
    <fieldset id='closedClaimActions' >
      <label for="overpayment-toggle" class="block-label inline" data-target="overpayment-input">
        <input type="radio" name="closedactions" value="OVERPAYMENT" id="overpayment-toggle">
        <span>Manage Overpayment</span>
      </label>

      <label for="close-toggle" class="block-label inline" data-target="closeAdvancedClaim-input">
        <input type="radio" name="closedactions" value="CLOSE-ADVANCE-CLAIM" id="close-toggle">
        <span>Close Advance Claim</span>
      </label>

      <div class="panel js-hidden" id="overpayment-input">
        {% if Claim['IsOverpaid'] != true %}
        <div class="form-group" id='overpayment-amount-group' >
          <label class="form-label-bold" for="overpayment-amount">Amount</label>
          <input type='text' name='overpayment-amount' id='overpayment-amount' class='form-control'>
        </div>
        {% endif %}
        {% if Claim['IsOverpaid'] == true %}
        <div class="form-group" id='overpayment-remaining-group'>
          <label class="form-label-bold" for="overpayment-remaining">Remaining</label>
          <input type='text' name='overpayment-remaining' id='overpayment-remaining' class='form-control'>
        </div>
        {% endif %}
        <div class="form-group" id='overpayment-reason-group'>
          <label class="form-label-bold" for="overpayment-reason">Reason</label>
          <textarea type='text' name='overpayment-reason' id='overpayment-reason'></textarea>
        </div>
        <input type="submit" class="button grey" name="update-overpayment-status" id="update-overpayment-status" value="Submit">
      </div>
      <div class="panel js-hidden" id="closeAdvancedClaim-input">
        <input type="submit" class="button grey" name="close-advance-claim" id="close-advance-claim" value="Close">
      </div>
    </fieldset>
  </div>
{% endif %}