{% if not displayHelper.getClaimStatusClosed(Claim['Status']) %}
<div id="decision" class="form-group {% if errors['decision'][0] %} error {% endif %}">
  <fieldset id='reason' >
    <label for="approve" class="block-label inline" data-target="accept-input">
      <input type="radio" name="decision" value="{{ claimDecisionEnum.APPROVED }}" id="approve" {% if claimDecision['decision'] == claimDecisionEnum.APPROVED %} checked {% endif %}>
      <span>Approve</span>
    </label>

    <label for="request" class="block-label inline" data-target="request-input">
      <input type="radio" name="decision" value="{{ claimDecisionEnum.REQUEST_INFORMATION }}" id="request" {% if claimDecision['decision'] == claimDecisionEnum.REQUEST_INFORMATION %} checked {% endif %}>
      <span>Request information</span>
    </label>

    <label for="reject" class="block-label inline" data-target="reject-input">
      <input type="radio" name="decision" value="{{ claimDecisionEnum.REJECTED }}" id="reject" {% if claimDecision['decision'] == claimDecisionEnum.REJECTED %} checked {% endif %}>
      <span>Reject</span>
    </label>

    <div class="panel {% if claimDecision['decision'] != claimDecisionEnum.APPROVED %}js-hidden{% endif %}" id="accept-input">

      <div class="form-group">
        <label class="form-label-bold" for="additional-info-accept">Additional information (optional)</label>
        <textarea type="text" class="form-control" id="additional-info-approve" name="additionalInfoApprove">{{ claimDecision['additionalInfoApprove'] }}</textarea>
      </div>

      <div class="form-group">
        <label for='is-trusted' class="block-label" data-target="untrusted-reason-section">
          <input type="checkbox" name='is-trusted' id='is-trusted' {% if Claim['IsTrusted'] === true %} checked {% endif %} />
          <span>Allow auto-approval</span>
        </label>
        <div id='untrusted-reason-section' class='form-group {% if Claim['IsTrusted'] === true %} js-hidden {% endif %}'>
          <br >
          <label class='form-label-bold'>Reason for disabling auto-approval for this claimant</label>
          <textarea type="text" class='form-control ' name="untrusted-reason" id='untrusted-reason'></textarea>
        </div>
      </div>

      <input type="submit" class="button" name="approve" id="approve-submit" value="Send confirmation email to claimant">
    </div>

    <div class="panel {% if claimDecision['decision'] != claimDecisionEnum.REQUEST_INFORMATION %}js-hidden{% endif %}" id="request-input">

      <div class="form-group">
        <label class="form-label-bold {% if errors['additional-info-request'][0] %} error {% endif %}" for="additional-info-request">Additional information</label>
        {% if errors['additional-info-request'][0] %}
          <span class="error-message" id="error-message-note-request">{{ errors['additional-info-request'][0] }}</span>
        {% endif %}
        <textarea type="text" class="form-control" id="additional-info-request" name="additionalInfoRequest">{{ claimDecision['additionalInfoRequest'] }}</textarea>
      </div>

      <input type="submit" class="button" name="request" value="Send request email to claimant">
    </div>

    <div class="panel {% if claimDecision['decision'] != claimDecisionEnum.REJECTED %}js-hidden{% endif %}" id="reject-input">

      <div class="form-group">
        <label class="form-label-bold {% if errors['additional-info-reject'][0] %} error {% endif %}" for="additional-info-reject">Additional information</label>
        {% if errors['additional-info-reject'][0] %}
          <span class="error-message" id="error-message-note-reject">{{ errors['additional-info-reject'][0] }}</span>
        {% endif %}
        <textarea type="text" class="form-control" id="additional-info-reject" name="additionalInfoReject">{{ claimDecision['additionalInfoReject'] }}</textarea>
      </div>

      <input type="submit" class="button" name="reject" value="Send rejection email to claimant">
    </div>

  </fieldset>
</div>
{% endif %}