<div id="decision" class="form-group {% if errors['decision'][0] %} error {% endif %}">
  <fieldset id='reason' >
    <label for="approve" class="block-label inline" data-target="accept-input">
      <input type="radio" name="decision" value="APPROVED" id="approve" {% if claimDecision['decision'] == 'APPROVED' %} checked {% endif %}>
      <span>Approve</span>
    </label>

    <label for="request" class="block-label inline" data-target="request-input">
      <input type="radio" name="decision" value="REQUEST-INFORMATION" id="request" {% if claimDecision['decision'] == 'REQUEST-INFORMATION' %} checked {% endif %}>
      <span>Request information</span>
    </label>

    <label for="reject" class="block-label inline" data-target="reject-input">
      <input type="radio" name="decision" value="REJECTED" id="reject" {% if claimDecision['decision'] == 'REJECTED' %} checked {% endif %}>
      <span>Reject</span>
    </label>

    <div class="panel {% if claimDecision['decision'] != 'APPROVED' %}js-hidden{% endif %}" id="accept-input">

      <div class="form-group">
        <label class="form-label-bold" for="additional-info-accept">Additional information (optional)</label>
        <textarea type="text" class="form-control full" name="additionalInfoApprove">{{ claimDecision['additionalInfoApprove'] }}</textarea>
      </div>

      <input type="submit" class="button" name="approve" id="approve-submit" value="Send confirmation email to claimant">
    </div>

    <div class="panel {% if claimDecision['decision'] != 'REQUEST-INFORMATION' %}js-hidden{% endif %}" id="request-input">

      <div class="form-group">
        <label class="form-label-bold {% if errors['note'][0] %} error {% endif %}" for="additional-info-request">Additional information</label>
        {% if errors['note'][0] %}
          <span class="error-message" id="error-message-note-request">{{ errors['note'][0] }}</span>
        {% endif %}
        <textarea type="text" class="form-control full" name="additionalInfoRequest">{{ claimDecision['additionalInfoRequest'] }}</textarea>
      </div>

      <input type="submit" class="button" name="request" value="Send request email to claimant">
    </div>

    <div class="panel {% if claimDecision['decision'] != 'REJECTED' %}js-hidden{% endif %}" id="reject-input">

      <div class="form-group">
        <label class="form-label-bold {% if errors['note'][0] %} error {% endif %}" for="additional-info-reject">Additional information</label>
        {% if errors['note'][0] %}
          <span class="error-message" id="error-message-note-reject">{{ errors['note'][0] }}</span>
        {% endif %}
        <textarea type="text" class="form-control full" name="additionalInfoReject">{{ claimDecision['additionalInfoReject'] }}</textarea>
      </div>

      <input type="submit" class="button" name="reject" value="Send rejection email to claimant">
    </div>

  </fieldset>
</div>