{% if not displayHelper.getClaimStatusClosed(Claim['Status'], Claim['IsAdvanceClaim'], Claim['DateOfJourney']) and unlock %}
<div id="decision" class="form-group {% if errors['decision'][0] %} form-group-error {% endif %}">
  <fieldset id='reason' class="inline">
    <div class="multiple-choice">
      <input type="radio" name="decision" value="{{ claimDecisionEnum.APPROVED }}" id="approve" {% if claimDecision['decision'] == claimDecisionEnum.APPROVED %} checked {% endif %}>
      <label for="approve" data-target="accept-input">Approve</label>
    </div>

    <div class="multiple-choice">
      <input type="radio" name="decision" value="{{ claimDecisionEnum.REQUEST_INFORMATION }}" id="request" {% if claimDecision['decision'] == claimDecisionEnum.REQUEST_INFORMATION %} checked {% endif %}>
      <label for="request" data-target="request-input">Request information</label>
    </div>

    <div class="multiple-choice">
      <input type="radio" name="decision" value="{{ claimDecisionEnum.REJECTED }}" id="reject" {% if claimDecision['decision'] == claimDecisionEnum.REJECTED %} checked {% endif %}>
      <label for="reject" data-target="reject-input">Reject</label>
    </div>

    <div class="panel {% if claimDecision['decision'] != claimDecisionEnum.APPROVED %}js-hidden{% endif %}" id="accept-input">

      <div class="form-group">
        <label class="form-label-bold" for="additional-info-accept">Note to claimant (optional)</label>
        <textarea type="text" class="form-control" id="additional-info-approve" name="additionalInfoApprove" maxlength="2000">{{ claimDecision['additionalInfoApprove'] }}</textarea>
      </div>

      <div class="form-group inline">
        <div class="multiple-choice">
          <input type="checkbox" name='is-trusted' id='is-trusted' {% if Claim['IsTrusted'] === true %} checked {% endif %} />
          <label for='is-trusted' data-target="untrusted-reason-section">Allow auto-approval</label>
        </div>
        <div id='untrusted-reason-section' class='form-group {% if Claim['IsTrusted'] === true %} js-hidden {% endif %}'>
          <br >
          <label class='form-label-bold'>Why aren’t you allowing auto-approval?</label>
          <span class="text-secondary">The claimant won’t see this</span>
          <textarea type="text" class='form-control ' name="untrusted-reason" id='untrusted-reason' maxlength="2000"></textarea>
        </div>
      </div>

      <input type="submit" class="button" name="approve" id="approve-submit" value="Send approval email">
    </div>

    <div class="panel {% if claimDecision['decision'] != claimDecisionEnum.REQUEST_INFORMATION %}js-hidden{% endif %}" id="request-input">

      <div class="form-group {% if errors['additional-info-request'][0] %} form-group-error {% endif %}">
        <label class="form-label-bold" for="additional-info-request">Note to claimant</label>
        {% if errors['additional-info-request'][0] %}
          <span class="error-message" id="error-message-note-request">{{ errors['additional-info-request'][0] }}</span>
        {% endif %}
        <textarea type="text" class="form-control {% if errors['additional-info-request'][0] %} form-control-error {% endif %}" id="additional-info-request" name="additionalInfoRequest" maxlength="2000">{{ claimDecision['additionalInfoRequest'] }}</textarea>
      </div>

      <input type="submit" class="button" name="request" value="Send request email">
    </div>

    <div class="panel {% if claimDecision['decision'] != claimDecisionEnum.REJECTED %}js-hidden{% endif %}" id="reject-input">

      <div class="form-group {% if errors['additional-info-reject'][0] or errors['additional-info-reject-manual'][0] %} form-group-error {% endif %}">
        <label class="form-label-bold" for="additional-info-reject">Reason For Rejection</label>
        {% if errors['additional-info-reject'][0] %}
          <span class="error-message" id="error-message-note-reject">{{ errors['additional-info-reject'][0] }}</span>
        {% endif %}
        <select class="form-control rejection-reason {% if errors['additional-info-reject'][0] %} form-control-error {% endif %}" id="additional-info-reject" name="additionalInfoReject">
          <option value="">Select</option>
          {% for reason in rejectionReasons %}
            {% if reason.enabled %}
              <option value="{{ reason.reason }}" {% if selectedRejectReason === reason.reason %} selected {% endif %}>{{ reason.reason }}</option>
            {% endif %}
          {% endfor %}
        </select>
        <br/>
        <br/>
        <label id="manual-label" class="display-none form-label-bold" for="additional-info-reject-manual">Enter a reason not in the dropdown</label>
        {% if errors['additional-info-reject-manual'][0] %}
          <span class="error-message" id="error-message-note-reject-manual">{{ errors['additional-info-reject-manual'][0] }}</span>
        {% endif %}
        <textarea type="text" class="display-none form-control {% if errors['additional-info-reject-manual'][0] %} form-control-error {% endif %}" id="additional-info-reject-manual" name="additionalInfoRejectManual" maxlength="2000">{{ claimDecision['additionalInfoRejectManual'] }}</textarea>
      </div>

      <input type="submit" class="button" name="reject" value="Send rejection email">
    </div>

  </fieldset>
</div>
{% endif %}