{% from "govuk/components/table/macro.njk" import govukTable %}

{% set eligibleChildData = [] %}
{% for eligibleChild in ClaimEligibleChild %}
  {% set eligibleChildRow = [
  [
    {
      text: "Eligible child name",
      classes: "claim-table-width-one-third"
    },
    {
      html: eligibleChild.FirstName + " " + eligibleChild.LastName,
      classes: "govuk-!-width-two-thirds"
    }
  ],
  [
    {
      text: "Date of Birth",
      classes: "claim-table-width-one-third"
    },
    {
      html: getDateFormatted.shortDate(eligibleChild.DateOfBirth),
      classes: "govuk-!-width-two-thirds"
    }
  ],
  [
    {
      text: "Prisoner Relationship",
      classes: "claim-table-width-one-third"
    },
    {
      html: eligibleChild.ChildRelationship,
      classes: "govuk-!-width-two-thirds"
    }
  ],
  [
    {
      text: "Parent",
      classes: "claim-table-width-one-third"
    },
    {
      html: eligibleChild.ParentFirstName + " " + eligibleChild.ParentLastName,
      classes: "govuk-!-width-two-thirds"
    }
  ],
  [
    {
      html: "<br><br>Address<br><br><br>",
      classes: "claim-table-width-one-third"
    },
    {
      html: eligibleChild.HouseNumberAndStreet + "<br>" + eligibleChild.Town  + "<br>" + eligibleChild.County  + "<br>" + eligibleChild.PostCode + "<br>" + eligibleChild.Country,
      classes: "govuk-!-width-two-thirds"
    }
  ]
] %}
  {% set eligibleChildData = eligibleChildData | concat([eligibleChildRow]) %}
{% endfor %}

{{ govukTable({
  firstCellIsHeader: true,
  classes: "govuk-!-margin-bottom-0",
  rows: eligibleChildData
}) }}
