{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% if Claim['AssignedTo'] %}
{% else %}

    {% include "partials/csrf-hidden-input.html" %}
    <input type="hidden" name="lastUpdated" value="{{ Claim['lastUpdatedHidden'] }}">
    
    {{ govukTextarea({
        name: "note-information",
        id: "note-information",
        rows: "2",
        classes: "govuk-!-width-one-half",
        errorMessage: errors | findError('additional-info-request'),
        attributes: {
            'maxlength': 2000
        },
        label: {
            text: "Add Note to Claim",
            classes: "govuk-label--l",
            isPageHeading: true
        }
    }) }}

    {{ govukButton({
        text: "Submit",
        name: "insert-note",
        id: "insert-note",
        type: "submit",
        classes: ""
    }) }}

{% endif %}
