<div class='panel panel-border-narrow'>
  {% if Claim['IsOverpaid'] != true %}
  <div class="form-group" id='overpayment-amount-group' >
    <label class="form-label-bold" for="overpayment-amount">Amount</label>
    <input type='text' name='overpayment-amount' id='overpayment-amount' class='form-control'>
  </div>
  {% endif %}
  {% if Claim['IsOverpaid'] == true %}
  <div class="form-group" id='overpayment-remaining-group'>
    <label class="form-label-bold" for="overpayment-remaining">Remaining</label>
    <input type='text' name='overpayment-remaining' id='overpayment-remaining' class='form-control'>
  </div>
  {% endif %}
  <div class="form-group" id='overpayment-reason-group'>
    <label class="form-label-bold" for="overpayment-reason">Reason</label>
    <textarea type='text' name='overpayment-reason' id='overpayment-reason'></textarea>
  </div>
  <input type="submit" class="button grey" name="update-overpayment-status" id="update-overpayment-status" value="Submit">
</div>