{% if displayHelper.getClaimStatusClosed(Claim['Status'], Claim['IsAdvanceClaim'], Claim['DateOfJourney']) %}
<!-- Payout barcode expired -->
  <div class="panel js-hidden" id="payout-barcode-expired-input">
    {% if Claim['Status'] == 'REJECTED' %}
    <p>Payout barcode can not be expired on a rejected claim</p>

    {% else %}
    <span class="text-pending">This will cause the original payment to be resubmitted (excluding top ups)</span>
    <br/>
    <br/>
    <div class="form-group" id='payout-barcode-expired-details'>
      <label class="form-label-bold" for="payout-barcode-expired-additional-information">Reason for Resubmitting Payment</label>
      <textarea type='text' name='payout-barcode-expired-additional-information' id='payout-barcode-expired-additional-information' class='form-control' maxlength="2000"></textarea>
    </div>
    <input type="submit" class="button grey" name="payout-barcode-expired-details" id="payout-barcode-expired-submit-details" value="Submit">

    {% endif %}
  </div>
<!-- Payout barcode expired -->
{% endif %}