{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/table/macro.njk" import govukTable %}

{% set approvedCheck %}
  {% if Claim.NomisCheck != 'APPROVED' %}
    <span class="text-warning">
      {% if displayHelper.getPrisonRegion(Claim.NameOfPrison) != 'NI' %}
        NOMIS check required
      {% else %}
        NI prisoner check required
      {% endif %}
    </span>
  {% else %}
    <span class="text-success">
      {% if displayHelper.getPrisonRegion(Claim.NameOfPrison) != 'NI' %}
        NOMIS check confirmed
      {% else %}
        NI prisoner check confirmed
      {% endif %}
    </span>
  {% endif %}
{% endset %}

{% set approvedSelect %}
  {% if unlock %}
    {{ govukSelect({
      id: "nomis-check",
      name: "nomisCheck",
      classes: "action-select",
      errorMessage: errors | findError('nomis-check'),
      formGroup: {
        classes: "select-for-form"
      },
      items: [
        {
          value: "",
          text: "Select",
          selected: ""
        },
        {
          value: "APPROVED",
          text: "Approve",
          selected: Claim.NomisCheck === 'APPROVED'
        },
        {
          value: "REQUEST-INFORMATION",
          text: "Request information",
          selected: Claim.NomisCheck === 'REQUEST-INFORMATION'
        },
        {
          value: "REJECTED",
          text: "Reject",
          selected: Claim.NomisCheck === 'REJECTED'
        }
      ]
    }) }}
  {% endif %}
{% endset %}

<br>

{{ govukTable({
  caption: "Prisoner",
  captionClasses: "govuk-table__caption--l",
  firstCellIsHeader: true,
  rows: [
    [
      { text: "Name", classes: "claim-table-width-one-third" },
      { text: Claim.PrisonerFirstName + " " + Claim.PrisonerLastName, classes: "govuk-!-width-one-third" },
      { text: '', classes: "govuk-!-width-one-third" }
    ],
    [
      { text: "Date of birth", classes: "claim-table-width-one-third" },
      { text: getDateFormatted.shortDate(Claim.PrisonerDateOfBirth), classes: "claim-table-width-one-third" },
      { text: '', classes: "claim-table-width-one-third" }
    ],
    [
      { text: "Prisoner number", classes: "claim-table-width-one-third" },
      { text: Claim.PrisonNumber, classes: "govuk-!-width-one-third" },
      { text: '', classes: "govuk-!-width-one-third" }
    ],
    [
      { text: "Prison", classes: "claim-table-width-one-third" },
      { text: displayHelper.getPrisonDisplayName(Claim.NameOfPrison), classes: "govuk-!-width-one-third" },
      { text: '', classes: "govuk-!-width-one-third" }
    ],
    [
      { text: "Eligible for visitation?", classes: "claim-table-width-one-third table-no-border-bottom vertical-align-middle" },
      { html: approvedCheck, classes: "govuk-!-width-one-third table-no-border-bottom vertical-align-middle" },
      { html: approvedSelect, classes: "govuk-!-width-one-third table-no-border-bottom" }
    ]
  ]
}) }}
