<table class="col-2 no-pad-right">

  <tr>
    <td>Name</td>
    <td>{{ Claim['PrisonerFirstName']}} {{ Claim['PrisonerLastName'] }}</td>
  </tr>

  <tr>
    <td>Date of birth</td>
    <td>{{ getDateFormatted.shortDate(Claim['PrisonerDateOfBirth']) }}</td>
  </tr>

  <tr>
    <td>Prisoner number</td>
    <td>{{ Claim['PrisonNumber'] }}</td>
  </tr>

  <tr>
    <td>Prison</td>
    <td>{{ displayHelper.getPrisonDisplayName(Claim['NameOfPrison']) }}</td>
  </tr>

  <tr {% if errors['nomis-check'][0] %} class="warning"{% endif %}>
    <td>Eligible for visitation?</td>
    <td>
      {% if Claim['NomisCheck'] != 'APPROVED' %}
      <span class="text-warning">
        {% if displayHelper.getPrisonRegion(Claim['NameOfPrison']) != 'NI' %}
          NOMIS check required
        {% else %}
          NI prisoner check required
        {% endif %}
      </span>
      {% else %}
      <span class="text-success">
        {% if displayHelper.getPrisonRegion(Claim['NameOfPrison']) != 'NI' %}
          NOMIS check confirmed
        {% else %}
          NI prisoner check confirmed
        {% endif %}
      </span>
      {% endif %}

      {% if unlock %}
      <select class="form-control action-select" id="nomis-check" name="nomisCheck">
        <option value="">Select</option>
        <option {% if Claim['NomisCheck'] == 'APPROVED' %} selected {% endif %} value="APPROVED">Approve</option>
        <option {% if Claim['NomisCheck'] == 'REQUEST-INFORMATION' %} selected {% endif %} value="REQUEST-INFORMATION">Request information</option>
        <option {% if Claim['NomisCheck'] == 'REJECTED' %} selected {% endif %} value="REJECTED">Reject</option>
      </select>
      {% endif %}
    </td>
  </tr>

</table>
