{% from "govuk/components/date-input/macro.njk" import govukDateInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

{% set releaseDate %}
  {% if unlock %}
  
    <fieldset>
      {{ govukDateInput({
        id: "release",
        namePrefix: "release",
        classes: "js-hidden",
        errorMessage: errors | findError('release-date-section'),
        formGroup: {
          classes: "govuk-!-margin-bottom-0",
          id: "release-date-section",
          type: "number"
        },
        items: [
          {
            name: "day",
            id: "release-day",
            classes: "govuk-input--width-2",
            value: Claim.releaseDay
          },
          {
            name: "month",
            id: "release-month",
            classes: "govuk-input--width-2",
            value: Claim.releaseMonth
          },
          {
            name: "year",
            id: "release-year",
            classes: "govuk-input--width-4",
            value: Claim.releaseYear
          }
        ]
      }) }}
    </fieldset>
    {% set saveButton %}

{% endset %}
  {% else %}
    {% if Claim.ReleaseDate %}
      {{ getDateFormatted.shortDate(Claim.ReleaseDate) }}
    {% else %}
      <span class="text-pending">Pending</span>
    {% endif %}
  {% endif %}
{% endset %}

{% set releaseDateCheckbox %}
 {{ govukCheckboxes({
  name: "release-date-is-set",
  id: "release-date-is-set",
  name: "release-date-is-set",
  classes: "govuk-!-margin-top-3 govuk-!-margin-bottom-3",
  formGroup: {
    classes: "govuk-!-margin-bottom-0 pull-right"
  },
  items: [
      { 
      name:"release-date-is-set", 
      value: "on", 
      text: "Release date is set?", 
      checked: Claim['ReleaseDateIsSet'] == true
    }
  ]
}) }}

 {% endset %}

{{ govukTable({
  caption: "Release Information",
  captionClasses: "govuk-table__caption--l",
  firstCellIsHeader: true,
  rows: [
    [
      {
        text: "Release Date",
        classes: "claim-table-width-one-third vertical-align-middle",
        id: "benefit-owner-name"
      },
      {
        html: releaseDate,
        classes: "govuk-!-width-one-third vertical-align-middle"
      },
      {
        html: releaseDateCheckbox,
        classes: "govuk-!-width-one-third vertical-align-middle"
      }
    ]
  ]
}) }}
