{% if displayHelper.getClaimStatusClosed(Claim['Status'], Claim['IsAdvanceClaim'], Claim['DateOfJourney']) %}
<!-- Request New Payment Details -->
  <div class="panel js-hidden" id="request-new-payment-details-input">
    {% if Claim['Status'] == 'REJECTED' %}
    <p>New bank details can not be requested on a rejected claim</p>

    {% else %}
    <div class="form-group" id='new-payment-details'>
      <label class="form-label-bold" for="payment-details-additional-information">Note to claimant (optional)</label>
      <textarea type='text' name='payment-details-additional-information' id='payment-details-additional-information' class='form-control' maxlength='2000'></textarea>
    </div>
    <input type="submit" class="button grey" name="request-new-payment-details" id="request-new-payment-details" value="Submit">

    {% endif %}
  </div>
<!-- Request New Payment Details -->
{% endif %}