{% if TopUps.length > 0 %}
<table class="col-2 no-pad-right">
  <thead>
    <tr>
      <th>Date</th>
      <th>Amount</th>
      <th>Caseworker</th>
      <th>Payment Status</th>
    </tr>
  </thead>
  <tbody>
      {% for TopUp in TopUps %}
        <tr>
          <td>{{ getDateFormatted.shortDateAndTime(TopUp.DateAdded) }}</td>
          <td>{{ TopUp['TopUpAmount'] }}</td>
          <td>{{ TopUp['Caseworker'] }}</td>
          {% if TopUp.IsPaid %}
            <td><span class="text-success">Paid</span></td>
          {% else %}
            <td><span class="text-pending">Pending</span></td>
          {% endif %}
        </tr>
      {% endfor %}
  </tbody>
</table>
{% endif %}