{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/table/macro.njk" import govukTable %}


{% if TopUps.length > 0 %}

{% set tableRows = [
  [
    { html: "Date added", classes: "claim-table-width-third govuk-table__header" },
    { html: "Amount", classes: "govuk-table__header" },
    { html: "Caseworker", classes: "govuk-table__header" },
    { html: "Payment status", classes: "govuk-table__header" },
    { html: "Payment date", classes: "govuk-table__header" },
    { html: "", classes: "" }
  ]
] %}

{% for TopUp in TopUps %}
  {% set dateAddedData = getDateFormatted.shortDateAndTime(TopUp.DateAdded) %}
  {% set amountData = "£" ~ TopUp['TopUpAmount'] %}
  {% set caseworkerData = TopUp['Caseworker'] %}

  {% set paymentStatusData %}
    {% if TopUp.PaymentStatus == 'PROCESSED' %}
      <span class="text-success">Paid</span>
    {% elif TopUp.PaymentStatus == 'PENDING' %}
      <span class="text-pending">Pending</span>
    {% elif TopUp.PaymentStatus == 'CANCELLED' %}
      <span class="text-warning">Cancelled</span>
    {% endif %}
  {% endset %}

  {% set paymentDateData = getDateFormatted.shortDateAndTime(TopUp.PaymentDate) %}
  {% set cancelTopUpButton = "" %}
  {% if unlock and TopUp.PaymentStatus == 'PENDING' %}
    {% set cancelTopUpButton %}
      {{ govukButton({
        text: "Cancel",
        id: "cancel-top-up",
        type: "submit",
        name: "cancel-top-up-" + TopUp.TopUpId,
        attributes: {
          formaction: "/claim/" + Claim['ClaimId'] + "/cancel-top-up"
        },
        classes: "govuk-!-margin-bottom-0 edit-claim-button govuk-button--secondary pull-right"
      }) }}
    {% endset %}
  {% endif %}

  {% set row = [
    { html: dateAddedData, classes: "claim-table-width-one-third vertical-align-middle" },
    { html: amountData, classes: "vertical-align-middle" },
    { html: caseworkerData, classes: "vertical-align-middle" },
    { html: paymentStatusData, classes: "vertical-align-middle" },
    { html: paymentDateData, classes: "vertical-align-middle" },
    { html: cancelTopUpButton, classes: "vertical-align-middle" }
  ] %}

  {% set tableRows = tableRows | concat([row]) %}

{% endfor %}

{{ govukTable({
  caption: "Top ups",
  captionClasses: "govuk-table__caption--l",
  classes: "govuk-!-margin-bottom-8",
  rows: tableRows
}) }}

{% endif %}
