<table class="col-2 no-pad-right">
  <tbody>
    <tr {% if errors['visit-confirmation-check'][0] %} class="warning"{% endif %}>
      <td><span class="bold">Date of visit</span></td>
      <td>{{ getDateFormatted.shortDate(Claim['DateOfJourney']) }}</td>
      <td>
        {% if Claim.visitConfirmation['DocumentStatus'] == 'uploaded' %}
          <a href="/claim/{{ Claim['ClaimId'] }}/download?claim-document-id={{ Claim.visitConfirmation['ClaimDocumentId'] }}">View confirmation</a>

        {% elif Claim.visitConfirmation['DocumentStatus'] == 'upload-later' %}
          <span class="text-pending">To be uploaded later</span>
          <a href="/claim/file-upload/{{ Claim['Reference'] }}/{{ Claim['ClaimId'] }}/VISIT_CONFIRMATION?eligibilityId={{ Claim['EligibilityId'] }}&claimDocumentId={{ Claim.visitConfirmation['ClaimDocumentId'] }}" id="add-visit-confirmation-upload-later" class="button grey pull-right">Add</a>

        {% elif Claim.visitConfirmation['DocumentStatus'] == 'post-later' %}
          <span class="text-pending">To be posted later</span>
          <a href="/claim/file-upload/{{ Claim['Reference'] }}/{{ Claim['ClaimId'] }}/VISIT_CONFIRMATION?eligibilityId={{ Claim['EligibilityId'] }}&claimDocumentId={{ Claim.visitConfirmation['ClaimDocumentId'] }}" id="add-visit-confirmation-post-later" class="button grey pull-right">Add</a>

        {% else %}
          <span class="text-warning">Visit confirmation required</span>

        {% endif %}
      </td>
      <td>
        <select class="form-control action-select" id="visit-confirmation-check" name="visitConfirmationCheck">
          <option value="">Select</option>
          <option {% if formData.visitConfirmationCheck == 'APPROVED' or Claim['VisitConfirmationCheck'] == 'APPROVED' %} selected {% endif %} value="APPROVED">Approve</option>
          <option {% if formData.visitConfirmationCheck == 'REQUEST-INFORMATION' or Claim['VisitConfirmationCheck'] == 'REQUEST-INFORMATION' %} selected {% endif %} value="REQUEST-INFORMATION">Request information</option>
          <option {% if formData.visitConfirmationCheck == 'REJECTED' or Claim['VisitConfirmationCheck'] == 'REJECTED' %} selected {% endif %} value="REJECTED">Reject</option>
        </select>
      </td>
    </tr>
  </tbody>
</table>