<table class="col-2 no-pad-right">

  <tr>
    <td>{{ 'Lead visitor' if Children else 'Visitor' }}</td>
    <td id="visitor-name">{{ Claim['FirstName'] }} {{ Claim['LastName'] }}</td>
  </tr>

  <tr>
    <td>Date of birth</td>
    <td>{{ getDateFormatted.shortDate(Claim['DateOfBirth']) }}</td>
  </tr>

  <tr>
    <td>National Insurance number</td>
    <td>{{ Claim['NationalInsuranceNumber'] }}</td>
  </tr>

  <tr>
    <td>Home address</td>
    <td>{{ Claim['HouseNumberAndStreet'] }}<br>
      {{ Claim['Town'] }}<br>
      {{ Claim['County'] }}<br>
      {{ Claim['PostCode'] }}<br>
      {{ Claim['Country'] }}</td>
  </tr>

  <tr>
    <td>Contact details</td>
    <td>
      <a href="mailto:{{ Claim['EmailAddress'] }}">{{ Claim['EmailAddress'] }}</a>
      {% if unlock %}<a href="/claim/{{ Claim['ClaimId'] }}/update-contact-details" class="change">Change</a>{% endif %}
      <br>
      {{ Claim['PhoneNumber'] }}
    </td>
  </tr>

  <tr>
    <td>Prisoner relationship</td>
    <td>{{ prisonerRelationshipsEnum[Claim['Relationship']].displayName }}</td>
  </tr>

  <tr id="dwp-check" {% if errors['dwp-check'][0] %} class="warning"{% endif %}>
    <td>Benefit information</td>
    <td>
      {{ displayHelper.getBenefitDisplayName(Claim['Benefit']) }}
      {% if unlock %}
      <select class="form-control action-select" id="dwp-status" name="dwpCheck">
        <option value="">Select</option>
        <option {% if Claim['DWPCheck'] == 'APPROVED' %} selected {% endif %} value="APPROVED">Approve</option>
        <option {% if Claim['DWPCheck'] == 'REQUEST-INFORMATION' %} selected {% endif %} value="REQUEST-INFORMATION">Request information</option>
        <option {% if Claim['DWPCheck'] == 'REJECTED' %} selected {% endif %} value="REJECTED">Reject</option>
      </select>
      {% endif %}
      <br/>

      {% if displayHelper.getBenefitRequireUpload(Claim['Benefit']) or Claim.benefitDocument.length > 0 %}
      {% for document in Claim.benefitDocument %}
        <br>
        {% if document['DocumentStatus'] == 'uploaded' %}
          <a href="/claim/{{ Claim['ClaimId'] }}/download?claim-document-id={{ document['ClaimDocumentId'] }}">View evidence</a>
        {% elif document['DocumentStatus'] == 'upload-later' %}
          <span class="text-pending">To be uploaded later</span>
          {% if unlock %}
          <a href="/claim/file-upload/{{ Claim['Reference'] }}/{{ Claim['ClaimId'] }}/{{ Claim['Benefit'] }}?eligibilityId={{ Claim['EligibilityId'] }}&claimDocumentId={{ document['ClaimDocumentId'] }}" id="add-benefit-documentation-upload-later" class="button grey pull-right">Add</a>
          {% endif %}
        {% elif document['DocumentStatus'] == 'post-later' %}
          <span class="text-pending">To be posted later</span>
          {% if unlock %}
          <a href="/claim/file-upload/{{ Claim['Reference'] }}/{{ Claim['ClaimId'] }}/{{ Claim['Benefit'] }}?eligibilityId={{ Claim['EligibilityId'] }}&claimDocumentId={{ document['ClaimDocumentId'] }}" id="add-benefit-documentation-post-later" class="button grey pull-right">Add</a>
          {% endif %}
        {% else %}
          <span class="text-warning">Benefit required</span>
        {% endif %}
      {% endfor %}

      {% else %}

        {% if Claim['DWPBenefitCheckerResult'] == 'YES' %}
        <span class="text-success">DWP - Eligible</span>
        {% elif Claim['DWPBenefitCheckerResult'] == 'NO' %}
        <span class="text-warning">DWP - Not eligible</span>
        {% else %}
        <span class="text-warning">DWP - No information</span>
        {% endif %}

      {% endif %}
    </td>
  </tr>

  {% set childNum = 1 %}
  {% for child in Children %}
  <tr>
    <td>Child {{ childNum }}</td>
    <td>
      {{ child['FirstName'] }} {{ child['LastName'] }}<br>
      {{ getDateFormatted.shortDate(child['DateOfBirth']) }} <br>
      {{ getChildFormatted(child['Relationship']) }}
    </td>

    {% set childNum = childNum + 1 %}
  </tr>
  {% endfor %}

  {% if Escort %}
  <tr>
    <td>Escort</td>
    <td>
      {{ Escort['FirstName'] + ' ' + Escort['LastName'] }} <br>
      {{ getDateFormatted.shortDate(Escort['DateOfBirth']) }} <br>
    </td>
  </tr>
  {% endif %}
  <tr>
    <td>Payment method</td>
    <td>{{ displayHelper.getPaymentMethodDisplayName(Claim['PaymentMethod']) }}</td>
  </tr>
</table>
