{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/button/macro.njk" import govukButton %}

<br>

{% set dateOfVisit %}
  <span class="govuk-!-margin-right-2">{{ getDateFormatted.shortDate(Claim.DateOfJourney) }}</span>
  {% if Claim.visitConfirmation.DocumentStatus == 'uploaded' %}
    <a class="" href="/claim/{{ Claim.ClaimId }}/download?claim-document-id={{ Claim.visitConfirmation.ClaimDocumentId }}">View confirmation</a>
  {% elif Claim.visitConfirmation['DocumentStatus'] == 'upload-later' %}
    <span class="text-pending">To be uploaded later</span>
  {% elif Claim.visitConfirmation.DocumentStatus == 'post-later' %}
    <span class="text-pending">To be posted later</span>
  {% elif Claim.IsAdvanceClaim %}
    <span class="text-pending">Visit confirmation to be uploaded after visit</span>
  {% else %}
    <span class="text-warning">Visit confirmation required</span>
  {% endif %}
{% endset %}

{% set dateOfVisitButtons %}
  {% if not Claim.IsAdvanceClaim and unlock %}
    {{ govukSelect({
      formGroup: {
        classes: "select-for-form"
      },
      id: "visit-confirmation-check",
      name: "visitConfirmationCheck",
      classes: "action-select select-for-form govuk-!-margin-top-1 govuk-!-margin-bottom-2",
      errorMessage: errors | findError('visit-confirmation-check'),
      formGroup: {
        classes: "select-for-form"
      },
      items: [
        {
          value: "",
          text: "Select",
          selected: ""
        },
        {
          value: "APPROVED",
          text: "Approve",
          selected: Claim.VisitConfirmationCheck === 'APPROVED'
        },
        {
          value: "REQUEST-INFORMATION",
          text: "Request information",
          selected: Claim.VisitConfirmationCheck === 'REQUEST-INFORMATION'
        },
        {
          value: "REJECTED",
          text: "Reject",
          selected: Claim.VisitConfirmationCheck === 'REJECTED'
        }
      ]
    }) }}
    {% if Claim.visitConfirmation.DocumentStatus == 'upload-later' or Claim.visitConfirmation.DocumentStatus == 'post-later' %}
    {{ govukButton({
      text: "Add",
      id: "add-visit-confirmation-upload-later",
      href: "/claim/file-upload/" + Claim.Reference + "/" + Claim.ClaimId + "/VISIT_CONFIRMATION?eligibilityId=" + Claim.EligibilityId + "&claimDocumentId=" + Claim.visitConfirmation.ClaimDocumentId ,
      classes: "govuk-!-margin-bottom-0 govuk-!-margin-top-1 govuk-!-margin-right-2 edit-claim-button govuk-button--secondary pull-right"
    }) }}
    {% endif %}
  {% else %}
    <input type="hidden" name="isAdvanceClaim" value="{{ Claim.IsAdvanceClaim }}">
  {% endif %}
{% endset %}

{{ govukTable({
  caption: "Visit",
  captionClasses: "govuk-table__caption--l",
  firstCellIsHeader: true,
  rows: [
    [
      {
        text: "Date of visit",
        classes: "claim-table-width-one-third vertical-align-middle"
      },
      {
        html: dateOfVisit,
        classes: "govuk-!-width-one-third vertical-align-middle"
      },
      {
        html: dateOfVisitButtons,
        classes: "govuk-!-width-one-third vertical-align-middle"
      }
    ]
  ]
}) }}
