{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

{# DUPLICATE #}
{% if duplicates | length %}
  {% set duplicatesList %}
    <ul class="list">
      {% for duplicateClaim in duplicates %}
        <li><a href='/claim/{{ duplicateClaim.ClaimId }}'>{{ duplicateClaim.Reference }}</a></li>
      {% endfor %}
    </ul>
  {% endset %}

  {{ govukWarningText({
    html: "This claim may be a duplicate" + duplicatesList,
    classes: "claim-table-warning-text",
    iconFallbackText: "Warning"
  }) }}
{% endif %}

{# CLAIMANT DUPLICATE #}
{% if claimantDuplicates | length %}
  {% set claimantDuplicatesList %}
    <ul class="list">
      {% for claim in claimantDuplicates %}
        <li><a href='/claim/{{ claim.ClaimId }}'>{{ claim.Reference }}</a></li>
      {% endfor %}
    </ul>
  {% endset %}

  {{ govukWarningText({
    html: "Another Claimant has a claim for this Prisoner on this date" + claimantDuplicatesList,
    classes: "claim-table-warning-text",
    iconFallbackText: "Warning"
  }) }}
{% endif %}

{# BANK DUPLICATE #}
{% if bankDuplicates | length %}
  {% set bankDuplicatesList %}
    <ul class="list">
      {% for bank in bankDuplicates %}
        <li><a href='/claim/{{ bank.ClaimId }}'>{{ bank.Reference }}</a></li>
      {% endfor %}
    </ul>
  {% endset %}

  {{ govukWarningText({
    html: "Another Claimant has used these bank details" + bankDuplicatesList,
    classes: "claim-table-warning-text",
    iconFallbackText: "Warning"
  }) }}
{% endif %}

{# OVERPAID AND PAID CLAIM #}
{% if overpaidClaims | length %}
  {% set overpaidClaimList %}
    <ul class="list">
      {% for overpaidClaim in overpaidClaims %}
        <li>
          <a href='/claim/{{ overpaidClaim.ClaimId }}'>
            <span class="govuk-!-font-weight-bold">{{ overpaidClaim.ClaimId }}</span> - 
            {{ getDateFormatted.shortDate(overpaidClaim.DateOfJourney) }} - 
            Remaining: £{{ displayHelper.toDecimal(overpaidClaim.RemainingOverpaymentAmount) }}
          </a>
        </li>
      {% endfor %}
    </ul>
  {% endset %}

  {{ govukWarningText({
    html: "This claim is for a claimant that has been overpaid" + overpaidClaimList,
    classes: "claim-table-warning-text",
    iconFallbackText: "Warning"
  }) }}
{% endif %}

{# OVERPAID BUT MARKED CLAIM #}
{% if Claim['IsOverpaid'] %}
  {% set overpaidMarkedList %}
    <p>Total overpaid: £{{ displayHelper.toDecimal(Claim['OverpaymentAmount']) }}</p>
    <p>Remaining: £{{ displayHelper.toDecimal(Claim['RemainingOverpaymentAmount']) }}</p>
    <p>Reason: {{ Claim['OverpaymentReason'] }}</p>
  {% endset %}

  {{ govukWarningText({
    html: "This claim has been marked as overpaid" + overpaidMarkedList,
    classes: "claim-table-warning-text",
    iconFallbackText: "Warning"
  }) }}
{% endif %}

{# REFERENCE DISABLED #}
{% if Claim['ReferenceDisabled'] %}
  {% set disabledReason %}
  This Reference has been disabled <br>
    {% if Claim.DisabledReason %}
      <p>Reason: {{ Claim.DisabledReason }}</p>
    {% else %}
      <p class="claim-table-no-reason-text">No reason given</p>
    {% endif %}
  {% endset %}

  {{ govukWarningText({
    html: disabledReason,
    classes: "claim-table-warning-text",
    iconFallbackText: "Warning"
  }) }}
{% endif %}

{# AUTO-APPROVAL OFF #}
{% set trustedReason %}
  {% if Claim.UntrustedReason %}
    Auto-approval has been switched off for this claimant <br>
    <p>Reason: {{ Claim.UntrustedReason }}</p>
    <p>Date: {{ getDateFormatted.shortDate(Claim.UntrustedDate) }}</p>
  {% else %}
    Auto-approval has been switched off for this claimant <br>
    <p class="claim-table-no-reason-text">No reason given</p>
    <p>Date: {{ getDateFormatted.shortDate(Claim.UntrustedDate) }}</p>
  {% endif %}
{% endset %}

{% if Claim['IsTrusted'] === false %}
  {{ govukWarningText({
    html: trustedReason,
    classes: "claim-table-warning-text",
    iconFallbackText: "Warning"
  }) }}
{% endif %}
