{% extends "includes/layout.html" %}

{% block page_title %}
  {% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}

  {% import 'partials/navigation.html' as nav %}
      {{nav.active('/')}}

  <div class="grid-row">
    <div class="column-two-thirds">

    {% include "includes/validation-error-messages.html" %}

      <h2 class="heading-large">
      {{ fileUploadGuidingText[document].title }}
      </h2>
      <p>{{ fileUploadGuidingText[document].guidingText }}</p>

      <h3 id="upload" class="heading-medium">Upload now</h3>

      <form action="{{ URL }}" method="post" class="form" enctype="multipart/form-data">

      {% include "partials/csrf-hidden-input.html" %}

        <div>
          <div>
            <p id='document-name' class="column-two-quarter"></p>
            <a id="remove-file-upload" class="link pull-right remove-upload" href="{{ URL }}">remove</a>
          </div>
          <div>
            <label id="label" class="custom-file-upload">
              <input id="document" type="file" name="document" />
              <div id='choose-file'>Choose file</div>
            </label>
          </div>

        </div>

        <div class="form-group">
          <details role="group">
            <summary role="button" aria-controls="details-content-0" aria-expanded="true"><span class="summary">Help with upload</span></summary>
            <div class="panel panel-border-narrow" id="details-content-0" aria-hidden="false">
              <ul class="list list-number">
                <li>Take a photo using your smartphone, tablet or camera, or scan the document</li>
                <li>Transfer the image to your computer or the device you’re using to make the claim</li>
                <li>Go to ‘choose file’ above and find the image</li>
              </ul>
            </div>
          </details>
        </div>

        <div class="form-group">
          <input id="file-upload-submit"
                 type="submit"
                 name="commit"
                 value="Continue"
                 class="button">
        </div>
      </form>
    </div>
  </div>
</main>
{% endblock %}

{% block body_end %}
  {% include "includes/upload-scripts.html" %}
{% endblock %}
