{% extends "includes/layout_new.html" %}

{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block pageTitle %}
  {% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% set activeMainNav = 'claims' %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

    {% include "includes/validation-error-messages.html" %}

      <h1 class="govuk-heading-l">
      {{ fileUploadGuidingText[document].title }}
      </h1>
      <p>{{ fileUploadGuidingText[document].guidingText }}</p>

      <h2 id="upload" class="govuk-heading-m">Upload now</h2>

      <form action="{{ URL }}" method="post" class="form" enctype="multipart/form-data">

      {% include "partials/csrf-hidden-input.html" %}

        <div>
          <div>
            <p id="document-name" class="column-two-quarter"></p>
            <a id="remove-file-upload" class="link pull-right remove-upload" href="{{ URL }}">remove</a>
          </div>
          <div>
            <label id="label" class="govuk-label" for="document">Upload a file</label>
            <input id="document" type="file" name="document" class="govuk-file-upload" />
          </div>

        </div>

        {{ govukDetails({
          summaryText: "How to upload a file",
          html:
            '<ul class="govuk-list govuk-list--number">
              <li>Take a photo using your smartphone, tablet or camera, or scan the document</li>
              <li>Transfer the image to your computer or the device you’re using to make the claim</li>
              <li>Go to ‘choose file’ above and find the image</li>
            </ul>'
        }) }}

        {{ govukButton({
          text: "Continue",
          preventDoubleClick: true
        }) }}
      </form>
    </div>
  </div>
{% endblock %}

{% block bodyEnd %}
  {% include "includes/upload-scripts.html" %}
{% endblock %}
