{% extends "includes/layout_new.html" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/file-upload/macro.njk" import govukFileUpload %}
{% from "govuk/components/details/macro.njk" import govukDetails %}

{% block pageTitle %}
  {% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% set activeMainNav = 'claims' %}

{% block content %}
  <div class="grid-row">
    <div class="column-two-thirds">
      {% include "includes/validation-error-messages.html" %}

      <div id="file-upload"> 
        <h2 class="govuk-heading-xl govuk-!-margin-bottom-3">
          {{ fileUploadGuidingText[document].title }}
        </h2>

        <form action="{{ URL }}" method="post" class="form" enctype="multipart/form-data">
          {% include "partials/csrf-hidden-input.html" %}
          {{ govukFileUpload({
            id: "document",
            classes: 'test',
            name: "document",
            label: {
              id: 'govuk-label--xl'
            },
            errorMessage: { text: errors.upload[0] } if errors.upload,
            hint: {
              text: fileUploadGuidingText[document].guidingText 
            },
            attributes: {
              accept: acceptedFiles
            }
          }) }}
          <div id="error-container"></div> 
        </form>
      </div>

      {{ govukButton({ type: 'submit', id: 'continue-to-preview', text: 'Continue' }) }}

      <div id="upload-preview"> 
        <h1 class="govuk-heading-xl">Check receipt</h1>
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
            <img src="" id="image-preview" alt="uploaded receipt" width="100%">
          </div>
        </div>
        <p class="govuk-body govuk-!-margin-top-2" id='image-preview-text'></p>
        
        {{ govukRadios({
          idPrefix: "correct",
          name: "correct",
          fieldset: {
            legend: {
              text: "Is this file correct?",
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "yes",
              text: "Yes, add this file",
              classes: 'yes-option'
            },
            {
              value: "no",
              text: "No, I want to choose a different file"
            }
          ]
        }) }}
      </div>

      <div class="form-group">
        {{ govukButton({ id: 'file-upload-submit', type: 'submit', name: "commit", value: "Continue", text: 'Continue' }) }}
      </div>
    </div>
  </div>
{% endblock %}

{% block bodyEnd %}
  {% include "includes/upload-scripts.html" %}
{% endblock %}
