{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% extends "includes/layout_new.html" %}

{% block pageTitle %}
  Update contact details - {{ serviceName }}
{% endblock %}

{% set activeMainNav = 'claims' %}

{% block content %}

  {% include "includes/validation-error-messages.html" %}

  <form action="/claim/{{ Claim['ClaimId'] }}/update-contact-details" method="post" class="form">
    {% include "partials/csrf-hidden-input.html" %}
    <input type="hidden" name="Reference" value="{{ Claim['Reference'] }}">
    <input type="hidden" name="EligibilityId" value="{{ Claim['EligibilityId'] }}">
    <input type="hidden" name="PreviousEmailAddress" value="{{ Claim['PreviousEmailAddress'] }}">
    <input type="hidden" name="PreviousPhoneNumber" value="{{ Claim['PreviousPhoneNumber'] }}">

    <h1 class="govuk-heading-l">
      Update contact details
    </h1>

    <p class="govuk-body">
      This will affect the current and future claims for this claimant.
      The claimant will be notified of any changes to their contact details.
    </p>

    {{ govukTable({
      classes: 'govuk-!-margin-bottom-2',
      firstCellIsHeader: true,
      rows: [
        [
          {
            text: "Reference number",
            classes: "table-short-column"
          },
          {
            text: Claim['Reference'],
            classes: ""
          }
        ],
        [
          {
            text: "Visitor",
            classes: "table-short-column"
          },
          {
            text: Claim['FirstName'] + " " + Claim['LastName'],
            id: "visitor-name"
          }
        ]
      ]
    }) }}

    </br>

    {{ govukInput({
      label: {
        text: "Email address",
        classes: "govuk-label--s",
        isPageHeading: true
      },
      id: "EmailAddress",
      errorMessage: errors['EmailAddress'][0],
      value: Claim['EmailAddress'],
      name: "EmailAddress",
      classes: 'govuk-!-width-one-half'
    }) }}

    {{ govukInput({
      label: {
        text: "Phone number (optional)",
        classes: "govuk-label--s",
        isPageHeading: true
      },
      id: "PhoneNumber",
      errorMessage: errors['PhoneNumber'][0],
      value: Claim['PhoneNumber'],
      name: "PhoneNumber",
      classes: 'govuk-!-width-one-half'
    }) }}

    {{ govukButton({
      type: "submit",
      text: "Submit"
    }) }}

  </form>

{% endblock %}
