{% extends "includes/layout.html" %}

{% block page_title %}
{% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% include "includes/phase_banner_beta.html" %}

  <div class="grid-row">
    <div class="column-half">
      <h1 class="heading-large">
        <span class="heading-secondary">Reference number</span>{{ Claim['Reference'] }}
      </h1>

    </div>
    <div class="column-quarter">

      <h1 class="heading-large">
        <span class="heading-secondary">Submitted </span>{{ Claim['DateCreated'] }}
      </h1>
    </div>
    <div class="column-quarter">
      <h1 class="heading-large">
        <span class="heading-secondary">Last updated</span>{{ Claim['LastUpdated'] }}
      </h1>
    </div>
  </div>

  <h1 class="table-heading">Visitor</h1>

  <table class="col-2">

	  <tr>
	    <td>Visitor Name</td>
	    <td>{{ Claim['FirstName'] }} {{ Claim['LastName'] }}</td>
	  </tr>

	  <tr>
	    <td>Date of Birth</td>
	    <td>{{ Claim['DateOfBirth'] }}</td>
	  </tr>

	  <tr>
	    <td>National Insurance number</td>
	    <td>{{ Claim['NationalInsuranceNumber'] }}</td>
	  </tr>

	  <tr>
	    <td>Home Address</td>
	    <td>  {{ Claim['HouseNumberAndStreet'] }}<br>
	      {{ Claim['Town'] }}<br>
	      {{ Claim['County'] }}<br>
	      {{ Claim['PostCode'] }}</td>
	  </tr>

	  <tr>
	    <td>Email Address</td>
	    <td><a href={{ Claim['EmailAddress'] }}>{{ Claim['EmailAddress'] }}</a></td>
	  </tr>

	  <tr>
		<td>Phone Number</td>
		<td>{{ Claim['PhoneNumber'] }}</td>
	  </tr>

	  <tr>
	  	<td>Prisoner Relationship</td>
	  	<td>{{ Claim['Relationship'] }}</td>
	  </tr>
  </table>

  <h1 class="table-heading">Prisoner</h1>

  <table class="col-2">

    <tr>
      <td>Prison</td>
      <td>{{ Claim['Prison'] }}</td>
    </tr>

    <tr>
      <td>Prisoner Number</td>
      <td>{{ Claim['PrisonerNumber']}}</td>
    </tr>

    <tr>
      <td>Name</td>
      <td>{{ Claim['PrisonerFirstName'] }} {{ Claim['PrisonerLastName'] }}</td>
    </tr>

  </table>

  <h1 class="table-heading">Claim</h1>

  <table>
    <tbody>
      {% for expense in Claim['Expense'] %}
        <tr {% if expense['Status'] == '' %} class="warning" {% endif %}>
	      <td><span class="bold">{{ expense['TransportType'] }}{{ expense['ExpenseType'] }} </span> 
	        <br>{% if expense['TransportType'] %}
	        {{ expense['From'] }} to {{expense['To']}} 
	        {% if expense['IsReturn'] %} - Return{% endif %}
	        {% endif %}
	        {{ expense['Description'] }}
	      </td>
	      <td>£{{ expense['Cost'] }}</td>

	      <td>
	        <a href="">View receipt</a>
	      </td>

          <td class="text-right">
	        <select class="form-control action-select">
	          <option {% if expense['Status'] == '' %} selected {% endif %}>Select</option>
 	          <option {% if expense['Status'] == 'Approved' %} selected {% endif %}>Approved</option>
	          <option {% if expense['Status'] == 'Approve different amount' %} selected {% endif %}>Approve different amount</option>
	          <option {% if expense['Status'] == 'Request information' %} selected {% endif %}>Request information</option>
	          <option {% if expense['Status'] == 'Reject claim' %} selected {% endif %}>Reject claim</option>
	        </select>
          </td>
        </tr>

        {% endfor %}

        <tr class="no-border">
          <td class="text-right"><h3 class="heading-small">Approved ammount</h3></td>
            <td><h3 class="heading-small">£{{ Claim['Total'] }}</h3></td>
            <td></td>
            <td>
          </td>
        </tr>

    </tbody>
  </table>

  <br>
  <br>

  <form action="" method="post" class="form">
    <div class="form-group">
      <fieldset>

        <label for="accept" class="block-label inline" data-target="accept-input">
          <input type="radio" name="accept" value="" id="accept">
          <span>Approve</span>
        </label>

        <label for="request" class="block-label inline" data-target="request-input">
          <input type="radio" name="accept" value="" id="request">
          <span>Request information</span>
        </label>

        <label for="reject" class="block-label inline" data-target="reject-input">
          <input type="radio" name="accept" value="" id="accept">
          <span>Reject</span>
        </label>

        <div class="panel panel-border-narrow js-hidden" id="accept-input">
          <div class="form-group">
            <label class="form-label-bold" for="full-name">Additional notes (optional)</label>
            <textarea type="text" class="form-control full" id="full-name"></textarea> 
          </div>
          <a href="index.html" class="button">Send confirmation email to claimant</a>
        </div>

        <div class="panel panel-border-narrow js-hidden" id="request-input">

          <div class="form-group">
            <label class="form-label-bold" for="full-name">Select request type</label>

            <select class="form-control full">
              <option>Set answer</option>
              <option>Set answer</option>
              <option>Set answer</option>
              <option>Set answer</option>
            </select>
          </div>

          <div class="form-group">
            <label class="form-label-bold" for="full-name">Additional notes (optional)</label>
            <textarea type="text" class="form-control full" id="full-name"></textarea> 
          </div>

          <a href="index.html" class="button">Send request email to claimant</a>
        </div>



        <div class="panel panel-border-narrow js-hidden" id="reject-input">

          <div class="form-group">
            <label class="form-label-bold" for="full-name">Select reason</label>

            <select class="form-control full">
              <option>Set answer</option>
              <option>Set answer</option>
              <option>Set answer</option>
              <option>Set answer</option>
            </select>
          </div>

          <div class="form-group">
            <label class="form-label-bold" for="full-name">Additional notes (optional)</label>
            <textarea type="text" class="form-control full" id="full-name"></textarea> 
          </div>

          <a href="index.html" class="button">Send rejection email to claimant</a>
        </div>

      </fieldset>
    </div>
  </form>



</main>

{% endblock %}