{% extends "includes/layout.html" %}

{% block page_title %}
{% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% include "includes/phase_banner_beta.html" %}

  <div class="grid-row">
    <div class="column-half">

      <h1 class="heading-large">
        <span id="reference" class="heading-secondary">Reference number</span>{{ Claim['Reference'] }}
      </h1>

    </div>
    <div class="column-quarter">

      <h1 class="heading-large">
        <span class="heading-secondary">Submitted </span>{{ getDateFormatted(Claim['DateSubmitted']) }}
      </h1>
    </div>
  </div>

  {% include "includes/validation-error-messages.html" %}

  <h1 class="table-heading">Visitor</h1>

  <form action="" method="post" class="form">

    <table class="col-2">

  	  <tr>
  	    <td>Visitor Name</td>
  	    <td id="visitor-name">{{ Claim['FirstName'] }} {{ Claim['LastName'] }}</td>
  	  </tr>

  	  <tr>
  	    <td>Date of Birth</td>
  	    <td>{{ getDateFormatted(Claim['DateOfBirth']) }}</td>
  	  </tr>

  	  <tr>
  	    <td>National Insurance number</td>
  	    <td>{{ Claim['NationalInsuranceNumber'] }}</td>
  	  </tr>

  	  <tr>
  	    <td>Home Address</td>
  	    <td>  {{ Claim['HouseNumberAndStreet'] }}<br>
  	      {{ Claim['Town'] }}<br>
  	      {{ Claim['County'] }}<br>
  	      {{ Claim['PostCode'] }}</td>
  	  </tr>

  	  <tr>
  	    <td>Email Address</td>
  	    <td><a href={{ Claim['EmailAddress'] }}>{{ Claim['EmailAddress'] }}</a></td>
  	  </tr>

  	  <tr>
  		<td>Phone Number</td>
  		<td>{{ Claim['PhoneNumber'] }}</td>
  	  </tr>

  	  <tr>
  	  	<td>Prisoner Relationship</td>
  	  	<td>{{ Claim['Relationship'] }}</td>
  	  </tr>
    </table>

    <h1 class="table-heading">Prisoner</h1>

    <table class="col-2">

      <tr>
        <td>Name</td>
        <td>{{ Claim['PrisonerFirstName']}} {{ Claim['PrisonerLastName'] }}</td>
      </tr>

      <tr>
        <td>Date of birth</td>
        <td>{{ getDateFormatted(Claim['PrisonerDateOfBirth']) }}</td>
      </tr>

      <tr>
        <td>Prisoner Number</td>
        <td>{{ Claim['PrisonNumber'] }}</td>
      </tr>

      <tr>
        <td>Prison</td>
        <td>{{ Claim['NameOfPrison'] }}</td>
      </tr>

    </table>

    <h1 class="table-heading">Claim</h1>

    <table>
      <tbody>

      </tbody>
    </table>

    <table>
      <tbody>
        {% for expense in Expenses %}
          <tr {% if expense['Status'] == undefined %} class="warning" {% endif %}>
          <td><span class="bold">{{ getDisplayFieldName[expense['ExpenseType']] }} </span>
            <br>
            {{ getClaimExpenseDetailFormatted(expense) }}
          </td>
          <td>£{{ expense['Cost'] }}</td>
          <td>
            <input id="claim-expense-{{ expense.ClaimExpenseId }}-approvedcost" type="text" name="claim-expense-{{ expense.ClaimExpenseId }}-approvedcost" class="form-control" value="{{ expense['ApprovedCost'] }}">
          </td>
          <td class="text-right">
            <select id="claim-expense-{{ expense.ClaimExpenseId }}-status" name="claim-expense-{{ expense.ClaimExpenseId }}-status" class="form-control action-select">
              <option {% if expense['Status'] == undefined %} selected {% endif %}>Select</option>
              <option {% if expense['Status'] == 'APPROVED' %} selected {% endif %} value="APPROVED">Approved</option>
              <option {% if expense['Status'] == 'APPROVED-DIFF-AMOUNT' %} selected {% endif %} value="APPROVED-DIFF-AMOUNT">Approve different amount</option>
              <option {% if expense['Status'] == 'REQUEST-INFORMATION' %} selected {% endif %} value="REQUEST-INFORMATION">Request information</option>
              <option {% if expense['Status'] == 'REJECTED' %} selected {% endif %} value="REJECTED">Reject claim</option>
            </select>
            </td>
          </tr>

        {% endfor %}

        <tr class="no-border">
          <td class="text-right"><h3 class="heading-small">Total Expense Cost:</h3></td>
          <td><h3 class="heading-small">£{{ Claim.Total }}</h3></td>
          <td></td>
          <td></td>
        </tr>

      </tbody>
    </table>

    <br>
    <br>

    <div id="decision" class="form-group {% if errors['decision'][0] %} error {% endif %}">
      <fieldset id='reason' >
        <label for="accept" class="block-label inline" data-target="accept-input">
          <input type="radio" name="decision" value="APPROVED" id="accept" {% if claimDecision['decision'] == 'accept' %} checked {% endif %}>
          <span>Approve</span>
        </label>

        <label for="request" class="block-label inline" data-target="request-input">
          <input type="radio" name="decision" value="REQUEST-INFORMATION" id="request" {% if claimDecision['decision'] == 'request-information' %} checked {% endif %}>
          <span>Request information</span>
        </label>

        <label for="reject" class="block-label inline" data-target="reject-input">
          <input type="radio" name="decision" value="REJECTED" id="reject" {% if claimDecision['decision'] == 'reject' %} checked {% endif %}>
          <span>Reject</span>
        </label>

        <div class="panel panel-border-narrow {% if claimDecision['decision'] != 'accept' %}js-hidden{% endif %}" id="accept-input">

          <div class="form-group">
            <label class="form-label-bold" for="additional-info-accept">Additional information (optional)</label>
            <textarea type="text" class="form-control full" name="additionalInfoApprove"></textarea>
          </div>

          <input type="submit" class="button" name="approve" value="Send confirmation email to claimant">
        </div>

        <div class="panel panel-border-narrow {% if claimDecision['decision'] != 'request-information' %}js-hidden{% endif %}" id="request-input">

        <label class="form-label-bold {% if errors['reason'][0] %} error {% endif %}">Request more information on:</label>
          {% if errors['reason'][0] %}
            <span class="error-message" id="error-message-reason-request">{{ errors['reason'][0] }}</span>
          {% endif %}
          <select name="reasonRequest" class="form-control">
            <option>Select</option>
            <option>Need more info on relationship</option>
            <option>Need more info on benefit</option>
            <option>Need more info on expenses</option>
          </select>

          <br>
          <div class="form-group">
            <label class="form-label-bold" for="additional-info-request">Additional information (optional)</label>
            <textarea type="text" class="form-control full" name="additionalInfoRequest"></textarea>
          </div>

          <input type="submit" class="button" name="request" value="Send request email to claimant">
        </div>

        <div class="panel panel-border-narrow {% if claimDecision['decision'] != 'reject' %}js-hidden{% endif %}" id="reject-input">

        <label class="form-label-bold {% if errors['reason'][0] %} error {% endif %}">Rejection Reason:</label>
          {% if errors['reason'][0] %}
            <span class="error-message" id="error-message-reason-reject">{{ errors['reason'][0] }}</span>
          {% endif %}
          <select name="reasonReject" class="form-control">
            <option>Select</option>
            <option>Benefit check failure</option>
            <option>Relationship to prisoner incorrect</option>
            <option>Prisoner ineligibile for visitation</option>
          </select>
          <br>

          <div class="form-group">
            <label class="form-label-bold" for="additional-info-reject">Additional information (optional)</label>
            <textarea type="text" class="form-control full" name="additionalInfoReject"></textarea>
          </div>

          <input type="submit" class="button" name="reject" value="Send rejection email to claimant">
        </div>

      </fieldset>
    </div>
  </form>



</main>

{% endblock %}