{% extends "includes/layout.html" %}

{% block page_title %}
{% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% include "includes/phase_banner_beta.html" %}

  {% import 'partials/navigation.html' as nav %}
    {{nav.active('')}}

  <h2 class="heading-medium">Advanced search</h2>

  <form action="/advanced-search">

    <div class="grid-row">

      <div class="column-one-third">
          <div class="form-group">
              <label class="form-label-bold">
                  Reference number
                  <input type="text" name="reference" value="{{ query.reference }}" class="form-control full">
              </label>
          </div>
      </div>

      <div class="column-one-third">
          <div class="form-group">
              <label class="form-label-bold">
                  Name
                  <input type="text" name="name" value="{{ query.name }}" class="form-control full">
              </label>
          </div>
      </div>

      <div class="column-one-third">
          <div class="form-group">
              <label class="form-label-bold">
                  National Insurance Number
                  <input type="text" name="ninumber" value="{{ query.ninumber }}" class="form-control full">
              </label>
          </div>
      </div>


      <div class="column-one-third">
          <div class="form-group">
              <label class="form-label-bold">
                  Prisoner number
                  <input type="text" name="prisonerNumber" value="{{ query.prisonerNumber }}" class="form-control full">
              </label>
          </div>
      </div>

      <div class="column-one-third">
          <div class="form-group">
              <label class="form-label-bold">
                  Prison
                  <input type="text" name="prison" value="{{ query.prison }}" class="form-control full">
              </label>
          </div>
      </div>

      <div class="column-one-third">
          <div class="form-group margin-top">
              <label class="block-label inline selection-button-checkbox">
                  Assisted Digital Claim
                  <input type="checkbox" name="assistedDigital" {% if query.assistedDigital %} checked {% endif %}>
              </label>
          </div>
      </div>

    </div>

    <h3 class="heading-small">Claim status</h3>

    <div class="grid-row">

      <div class="column-one-quarter">
          <div class="form-group">
              <label class="block-label inline">
                  All
                  <input type="radio" name="claimStatus" value="all" {% if query.claimStatus == 'all' %} checked {% endif %}>
              </label>
            </div>
      </div>

      <div class="column-one-quarter">
          <div class="form-group">
              <label class="block-label inline">
                  New
                  <input type="radio" name="claimStatus" value="new" {% if query.claimStatus == 'new' %} checked {% endif %}>
              </label>
            </div>
      </div>

      <div class="column-one-quarter">
          <div class="form-group">
              <label class="block-label inline">
                  Pending
                  <input type="radio" name="claimStatus" value="pending" {% if query.claimStatus == 'pending' %} checked {% endif %}>
              </label>
            </div>
      </div>

      <div class="column-one-quarter">
          <div class="form-group">
              <label class="block-label inline">
                  In progress
                  <input type="radio" name="claimStatus" value="inProgress" {% if query.claimStatus == 'inProgress' %} checked {% endif %}>
              </label>
            </div>
      </div>

      <div class="column-one-quarter">
          <div class="form-group">
              <label class="block-label inline">
                  Approved
                  <input type="radio" name="claimStatus" value="approved" {% if query.claimStatus == 'approved' %} checked {% endif %}>
              </label>
            </div>
      </div>

      <div class="column-one-quarter">
          <div class="form-group">
              <label class="block-label inline">
                  Paid
                  <input type="radio" name="claimStatus" value="paid" {% if query.claimStatus == 'paid' %} checked {% endif %}>
              </label>
            </div>
      </div>

      <div class="column-one-quarter">
          <div class="form-group">
              <label class="block-label inline">
                  Rejected
                  <input type="radio" name="claimStatus" value="rejected" {% if query.claimStatus == 'rejected' %} checked {% endif %}>
              </label>
            </div>
      </div>

    </div>

    <div class="grid-row">
      <div class="column-one-third">
      <h3 class="heading-small">Mode of approval</h3>
          <div class="form-group">
              <label class="block-label inline">
                  Auto
                  <input type="radio" name="modeOfApproval" value="auto" {% if query.modeOfApproval == 'auto' %} checked {% endif %}>
              </label>
          </div>
          <div class="form-group">
              <label class="block-label inline">
                  Manual
                  <input type="radio" name="modeOfApproval" value="manual" {% if query.modeOfApproval == 'manual' %} checked {% endif %}>
              </label>
          </div>
      </div>

      <div class="column-one-third">
      <h3 class="heading-small">Type of claim</h3>
          <div class="form-group">
              <label class="block-label inline">
                  Visit in past
                  <input type="radio" name="pastOrFuture" value="past" {% if query.pastOrFuture == 'past' %} checked {% endif %}>
              </label>
          </div>
          <div class="form-group">
              <label class="block-label inline">
                  Visit in future
                  <input type="radio" name="pastOrFuture" value="future" {% if query.pastOrFuture == 'future' %} checked {% endif %}>
              </label>
          </div>
      </div>

      <div class="column-one-third">
      <h3 class="heading-small">Visit rules</h3>
          <div class="form-group">
              <label class="block-label inline">
                  England/Scotland/Wales
                  <input type="radio" name="visitRules" value="englandScotlandWales" {% if query.visitRules == 'englandScotlandWales' %} checked {% endif %}>
              </label>
          </div>
          <div class="form-group">
              <label class="block-label inline">
                  Northern Ireland
                  <input type="radio" name="visitRules" value="northernIreland" {% if query.visitRules == 'northernIreland' %} checked {% endif %}>
              </label>
          </div>
      </div>

    </div>

    <div class="form-group">
        <a href="/advanced-search" class="link">Clear search</a>
    </div>

    <div class="form-group">
        <input type="submit" class="button" value="Search">
        <a href="/" class="link margin-left margin-top">Cancel</a>
    </div>

  </form>

  <h2 id="search-results-header" class="heading-medium" hidden>Search results</h2>
  {% if rawQuery != '' %}
  <a href="/advanced-search-results/export?{{ rawQuery }}" class="link export">Export search results (CSV file)</a>
  {% endif %}

  <table id="advanced-search-results" class="table" hidden>
  	<thead>
	  <tr>
		<th>Ref No.</th>
		<th>Name</th>
		<th>Submitted</th>
		<th>Claim Type</th>
		<th></th>
	  </tr>
  	</thead>
  </table>

</main>

{% endblock %}

{% block body_end %}
  {% include "includes/advanced-search-scripts.html" %}
{% endblock %}
