{% extends "includes/layout.html" %}

{% block page_title %}
{% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% include "includes/phase_banner_beta.html" %}

  <ul id="sub-nav">
    <li>
      <a href="/dashboard">Dashboard</a>
    </li>
    <li>
      <a href="/">Claims</a>
    </li>
  </ul>

  <h2 class="heading-medium">Advanced search</h2>

  <form action="/advanced-search">

    <div class="grid-row">

      <div class="column-one-third">
          <div class="form-group">
              <label class="form-label-bold">
                  Reference number
                  <input type="text" name="reference" value="{{ query.reference }}" class="form-control full">
              </label>
          </div>
      </div>

      <div class="column-one-third">
          <div class="form-group">
              <label class="form-label-bold">
                  Name
                  <input type="text" name="name" value="{{ query.name }}" class="form-control full">
              </label>
          </div>
      </div>

      <div class="column-one-third">
          <div class="form-group">
              <label class="form-label-bold">
                  National Insurance Number
                  <input type="text" name="ninumber" value="{{ query.ninumber }}" class="form-control full">
              </label>
          </div>
      </div>


      <div class="column-one-third">
          <div class="form-group">
              <label class="form-label-bold">
                  Prisoner number
                  <input type="text" name="prisonerNumber" value="{{ query.prisonerNumber }}" class="form-control full">
              </label>
          </div>
      </div>

      <div class="column-one-third">
          <div class="form-group">
              <label class="form-label-bold">
                  Prison
                  <input type="text" name="prison" value="{{ query.prison }}" class="form-control full">
              </label>
          </div>
      </div>

      <div class="column-one-third">
          <div class="form-group margin-top">
              <label class="block-label inline selection-button-checkbox">
                  Assisted Digital Claim
                  <input type="checkbox" name="assistedDigital" {% if query.assistedDigital %} checked {% endif %}>
              </label>
          </div>
      </div>

    </div>

    <h3 class="heading-small">Claim status</h3>

    <div class="grid-row">

      <div class="column-one-quarter">
          <div class="form-group">
              <label class="block-label inline selection-button-checkbox">
                  All
                  <input type="checkbox" name="claimStatus" value="all" {% if query.claimStatus %} {% if "all" in query.claimStatus %} checked {% endif %} {% endif %}>
              </label>
            </div>
      </div>

      <div class="column-one-quarter">
          <div class="form-group">
              <label class="block-label inline selection-button-checkbox">
                  New
                  <input type="checkbox" name="claimStatus" value="new" {% if query.claimStatus %} {% if "new" in query.claimStatus %} checked {% endif %} {% endif %}>
              </label>
            </div>
      </div>

      <div class="column-one-quarter">
          <div class="form-group">
              <label class="block-label inline selection-button-checkbox">
                  Pending
                  <input type="checkbox" name="claimStatus" value="pending" {% if query.claimStatus %} {% if "pending" in query.claimStatus %} checked {% endif %} {% endif %}>
              </label>
            </div>
      </div>

      <div class="column-one-quarter">
          <div class="form-group">
              <label class="block-label inline selection-button-checkbox">
                  In progress
                  <input type="checkbox" name="claimStatus" value="inProgress" {% if query.claimStatus %} {% if "inProgress" in query.claimStatus %} checked {% endif %} {% endif %}>
              </label>
            </div>
      </div>

      <div class="column-one-quarter">
          <div class="form-group">
              <label class="block-label inline selection-button-checkbox">
                  Approved
                  <input type="checkbox" name="claimStatus" value="approved" {% if query.claimStatus %} {% if "approved" in query.claimStatus %} checked {% endif %} {% endif %}>
              </label>
            </div>
      </div>

      <div class="column-one-quarter">
          <div class="form-group">
              <label class="block-label inline selection-button-checkbox">
                  Paid
                  <input type="checkbox" name="claimStatus" value="paid" {% if query.claimStatus %} {% if "paid" in query.claimStatus %} checked {% endif %} {% endif %}>
              </label>
            </div>
      </div>

      <div class="column-one-quarter">
          <div class="form-group">
              <label class="block-label inline selection-button-checkbox">
                  Rejected
                  <input type="checkbox" name="claimStatus" value="rejected" {% if query.claimStatus %} {% if "rejected" in query.claimStatus %} checked {% endif %} {% endif %}>
              </label>
            </div>
      </div>

    </div>

    <div class="form-group">
        <input type="submit" class="button" value="Search">
        <a href="/" class="link margin-left margin-top">Cancel</a>
    </div>

  </form>

  <h2 id="search-results-header" class="heading-medium" hidden>Search results</h2>

  <table id="advanced-search-results" class="table" hidden>
  	<thead>
	  <tr>
		<th>Ref No.</th>
		<th>Name</th>
		<th>Submitted</th>
		<th>Claim Type</th>
		<th></th>
	  </tr>
  	</thead>
  </table>

</main>

{% endblock %}

{% block body_end %}
  {% include "includes/advanced-search-scripts.html" %}
{% endblock %}