{% extends "includes/layout_new.html" %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/date-input/macro.njk" import govukDateInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block pageTitle %}
{% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% set activeMainNav = 'claims' %}
{% set mainClasses = "app-container govuk-body" %}

{% block content %}

  {% include "includes/validation-error-messages.html" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      <h1 class="govuk-heading-xl">Advanced search</h1>
    </div>
  </div>

  <form action="/advanced-search">

    <div class="govuk-grid-row">

      <div class="govuk-grid-column-one-third">
        {{ govukInput({
          label: {
            text: "Reference number",
            classes: "govuk-label--s",
            isPageHeading: false
          },
          id: "reference",
          name: "reference",
          value: query.reference
        }) }}
      </div>

      <div class="govuk-grid-column-one-third">
        {{ govukInput({
          label: {
            text: "Name",
            classes: "govuk-label--s",
            isPageHeading: false
          },
          id: "name",
          name: "name",
          value: query.name
        }) }}
      </div>

      <div class="govuk-grid-column-one-third">
        {{ govukInput({
          label: {
            text: "National Insurance number",
            classes: "govuk-label--s",
            isPageHeading: false
          },
          id: "ninumber",
          name: "ninumber",
          value: query.ninumber
        }) }}
      </div>

      <div class="govuk-grid-column-one-third">
        {{ govukInput({
          label: {
            text: "Prisoner number",
            classes: "govuk-label--s",
            isPageHeading: false
          },
          id: "prisonerNumber",
          name: "prisonerNumber",
          value: query.prisonerNumber
        }) }}
      </div>

      <div class="govuk-grid-column-one-third">
        {{ govukInput({
          label: {
            text: "Prison",
            classes: "govuk-label--s",
            isPageHeading: false
          },
          id: "prison",
          name: "prison",
          value: query.prison
        }) }}
      </div>

      <div class="govuk-grid-column-one-third">
        {{ govukCheckboxes({
          name: "assistedDigital",
          items: [
            {
              value: true,
              checked: query.assistedDigital,
              text: "Assisted digital"
            }
          ]
        }) }}
      </div>

    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        {{ govukRadios({
          name: "claimStatus",
          fieldset: {
            legend: {
              text: "Claim status",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--s"
            }
          },
          items: [
            {
              value: "all",
              text: "All",
              checked: query.claimStatus == 'all'
            },
            {
              value: "approved",
              text: "Approved",
              checked: query.claimStatus == 'approved'
            },
            {
              value: "new",
              text: "New",
              checked: query.claimStatus == 'new'
            },
            {
              value: "paid",
              text: "Paid",
              checked: query.claimStatus == 'paid'
            },
            {
              value: "pending",
              text: "Pending",
              checked: query.claimStatus == 'pending'
            },
            {
              value: "rejected",
              text: "Rejected",
              checked: query.claimStatus == 'rejected'
            },
            {
              value: "inProgress",
              text: "In progress",
              checked: query.claimStatus == 'inProgress'
            }
          ]
        }) }}
      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-quarter">
        {{ govukRadios({
          name: "modeOfApproval",
          fieldset: {
            legend: {
              text: "Mode of approval",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--s"
            }
          },
          items: [
            {
              value: "auto",
              text: "Auto",
              checked: query.modeOfApproval == 'auto'
            },
            {
              value: "manual",
              text: "Manual",
              checked: query.modeOfApproval == 'manual'
            }
          ]
        }) }}
      </div>

      <div class="govuk-grid-column-one-quarter">
        {{ govukRadios({
          name: "pastOrFuture",
          fieldset: {
            legend: {
              text: "Type of claim",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--s"
            }
          },
          items: [
            {
              value: "past",
              text: "Visit in past",
              checked: query.pastOrFuture == 'past'
            },
            {
              value: "future",
              text: "Visit in future",
              checked: query.pastOrFuture == 'future'
            }
          ]
        }) }}
      </div>

      <div class="govuk-grid-column-one-quarter">
        {{ govukRadios({
          name: "visitRules",
          fieldset: {
            legend: {
              text: "Visit rules",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--s"
            }
          },
          items: [
            {
              value: "englandWales",
              text: "England/Wales",
              checked: query.visitRules == 'englandWales'
            },
            {
              value: "scotland",
              text: "Scotland",
              checked: query.visitRules == 'scotland'
            },
            {
              value: "northernIreland",
              text: "Northern Ireland",
              checked: query.visitRules == 'northernIreland'
            }
          ]
        }) }}
      </div>

      <div class="govuk-grid-column-one-quarter">
        {{ govukRadios({
          name: "overpaymentStatus",
          fieldset: {
            legend: {
              text: "Is Claim Overpaid?",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--s"
            }
          },
          items: [
            {
              value: "yes",
              text: "Yes",
              checked: query.overpaymentStatus == 'yes'
            },
            {
              value: "no",
              text: "No",
              checked: query.overpaymentStatus == 'no'
            }
          ]
        }) }}
      </div>

    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third">
        {{ govukRadios({
          name: "paymentMethod",
          fieldset: {
            legend: {
              text: "Payment Method",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--s"
            }
          },
          items: [
            {
              value: "bank",
              text: "Bank",
              checked: query.paymentMethod == 'bank'
            },
            {
              value: "payout",
              text: "Voucher",
              checked: query.paymentMethod == 'payout'
            }
          ]
        }) }}
      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-half">
        <h3 class="govuk-heading-s">Date of visit</h3>
      </div>
      <div class="govuk-grid-column-one-half">
        <h3 class="govuk-heading-s">Date claim submitted</h3>
      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-quarter">
        {{ govukDateInput({
          id: "visitDateFrom",
          namePrefix: "visitDateFrom",
          fieldset: {
            legend: {
              text: "From",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--s"
            }
          },
          errorMessage: {
            text: errors["visitDateFrom"][0]
          } if errors["visitDateFrom"][0],
          items: [
            {
              classes: "govuk-input--width-2",
              name: "Day",
              value: query["visitDateFrom-Day"]
            },
            {
              classes: "govuk-input--width-2",
              name: "Month",
              value: query["visitDateFrom-Month"]
            },
            {
              classes: "govuk-input--width-4",
              name: "Year",
              value: query["visitDateFrom-Year"]
            }
          ]
        }) }}
      </div>
      <div class="govuk-grid-column-one-quarter">
        {{ govukDateInput({
          id: "visitDateTo",
          namePrefix: "visitDateTo",
          fieldset: {
            legend: {
              text: "To",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--s"
            }
          },
          errorMessage: {
            text: errors["visitDateTo"][0]
          } if errors["visitDateTo"][0],
          items: [
            {
              classes: "govuk-input--width-2",
              name: "Day",
              value: query["visitDateTo-Day"]
            },
            {
              classes: "govuk-input--width-2",
              name: "Month",
              value: query["visitDateTo-Month"]
            },
            {
              classes: "govuk-input--width-4",
              name: "Year",
              value: query["visitDateTo-Year"]
            }
          ]
        }) }}
      </div>
      <div class="govuk-grid-column-one-quarter">
        {{ govukDateInput({
          id: "dateSubmittedFrom",
          namePrefix: "dateSubmittedFrom",
          fieldset: {
            legend: {
              text: "From",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--s"
            }
          },
          errorMessage: {
            text: errors["dateSubmittedFrom"][0]
          } if errors["dateSubmittedFrom"][0],
          items: [
            {
              classes: "govuk-input--width-2",
              name: "Day",
              value: query["dateSubmittedFrom-Day"]
            },
            {
              classes: "govuk-input--width-2",
              name: "Month",
              value: query["dateSubmittedFrom-Month"]
            },
            {
              classes: "govuk-input--width-4",
              name: "Year",
              value: query["dateSubmittedFrom-Year"]
            }
          ]
        }) }}
      </div>
      <div class="govuk-grid-column-one-quarter">
        {{ govukDateInput({
          id: "dateSubmittedTo",
          namePrefix: "dateSubmittedTo",
          fieldset: {
            legend: {
              text: "To",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--s"
            }
          },
          errorMessage: {
            text: errors["dateSubmittedTo"][0]
          } if errors["dateSubmittedTo"][0],
          items: [
            {
              classes: "govuk-input--width-2",
              name: "Day",
              value: query["dateSubmittedTo-Day"]
            },
            {
              classes: "govuk-input--width-2",
              name: "Month",
              value: query["dateSubmittedTo-Month"]
            },
            {
              classes: "govuk-input--width-4",
              name: "Year",
              value: query["dateSubmittedTo-Year"]
            }
          ]
        }) }}
      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-half">
        <h3 class="govuk-heading-s">Date claim approved</h3>
      </div>
      <div class="govuk-grid-column-one-half">
        <h3 class="govuk-heading-s">Date claim rejected</h3>
      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-quarter">
        {{ govukDateInput({
          id: "dateApprovedFrom",
          namePrefix: "dateApprovedFrom",
          fieldset: {
            legend: {
              text: "From",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--s"
            }
          },
          errorMessage: {
            text: errors["dateApprovedFrom"][0]
          } if errors["dateApprovedFrom"][0],
          items: [
            {
              classes: "govuk-input--width-2",
              name: "Day",
              value: query["dateApprovedFrom-Day"]
            },
            {
              classes: "govuk-input--width-2",
              name: "Month",
              value: query["dateApprovedFrom-Month"]
            },
            {
              classes: "govuk-input--width-4",
              name: "Year",
              value: query["dateApprovedFrom-Year"]
            }
          ]
        }) }}
      </div>
      <div class="govuk-grid-column-one-quarter">
        {{ govukDateInput({
          id: "dateApprovedTo",
          namePrefix: "dateApprovedTo",
          fieldset: {
            legend: {
              text: "To",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--s"
            }
          },
          errorMessage: {
            text: errors["dateApprovedTo"][0]
          } if errors["dateApprovedTo"][0],
          items: [
            {
              classes: "govuk-input--width-2",
              name: "Day",
              value: query["dateApprovedTo-Day"]
            },
            {
              classes: "govuk-input--width-2",
              name: "Month",
              value: query["dateApprovedTo-Month"]
            },
            {
              classes: "govuk-input--width-4",
              name: "Year",
              value: query["dateApprovedTo-Year"]
            }
          ]
        }) }}
      </div>
      <div class="govuk-grid-column-one-quarter">
        {{ govukDateInput({
          id: "dateRejectedFrom",
          namePrefix: "dateRejectedFrom",
          fieldset: {
            legend: {
              text: "From",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--s"
            }
          },
          errorMessage: {
            text: errors["dateRejectedFrom"][0]
          } if errors["dateRejectedFrom"][0],
          items: [
            {
              classes: "govuk-input--width-2",
              name: "Day",
              value: query["dateRejectedFrom-Day"]
            },
            {
              classes: "govuk-input--width-2",
              name: "Month",
              value: query["dateRejectedFrom-Month"]
            },
            {
              classes: "govuk-input--width-4",
              name: "Year",
              value: query["dateRejectedFrom-Year"]
            }
          ]
        }) }}
      </div>
      <div class="govuk-grid-column-one-quarter">
        {{ govukDateInput({
          id: "dateRejectedTo",
          namePrefix: "dateRejectedTo",
          fieldset: {
            legend: {
              text: "To",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--s"
            }
          },
          errorMessage: {
            text: errors["dateRejectedTo"][0]
          } if errors["dateRejectedTo"][0],
          items: [
            {
              classes: "govuk-input--width-2",
              name: "Day",
              value: query["dateRejectedTo-Day"]
            },
            {
              classes: "govuk-input--width-2",
              name: "Month",
              value: query["dateRejectedTo-Month"]
            },
            {
              classes: "govuk-input--width-4",
              name: "Year",
              value: query["dateRejectedTo-Year"]
            }
          ]
        }) }}
      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third">
        {{ govukInput({
          id: "approvedClaimAmountFrom",
          name: "approvedClaimAmountFrom",
          label: {
            text: "Approved claim amount from",
            classes: "govuk-label--s",
            isPageHeading: false
          },
          prefix: {
            text: "£"
          },
          errorMessage: {
            text: errors["approvedClaimAmountFrom"][0]
          } if errors["approvedClaimAmountFrom"][0],
          spellcheck: false,
          value: query.approvedClaimAmountFrom
        }) }}
      </div>

      <div class="govuk-grid-column-one-third">
        {{ govukInput({
          id: "approvedClaimAmountTo",
          name: "approvedClaimAmountTo",
          label: {
            text: "Approved claim amount to",
            classes: "govuk-label--s",
            isPageHeading: false
          },
          errorMessage: {
            text: errors["approvedClaimAmountTo"][0]
          } if errors["approvedClaimAmountTo"][0],
          prefix: {
            text: "£"
          },
          spellcheck: false,
          value: query.approvedClaimAmountTo
        }) }}
      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <p>
          <a id="clear-search" href="/advanced-search" class="govuk-link">Clear search</a>
        </p>

        <div class="govuk-button-group">
          {{ govukButton({
            id: "advanced-search-submit",
            text: "Search"
          }) }}

          <a class="govuk-link" href="/">Cancel</a>
        </div>
      </div>
    </div>

  </form>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h2 id="search-results-header" class="govuk-heading-m" hidden>Search results</h2>
      {% if rawQuery != '' %}
      <a href="/advanced-search-results/export?{{ rawQuery }}" class="govuk-link export">Export search results (CSV file)</a>
      {% endif %}

      <table id="advanced-search-results" hidden>
        <thead>
          <tr>
            <th class="sorting_disabled">Ref no.</th>
            <th class="sorting_disabled">Name</th>
            <th class="sorting_disabled">Submitted</th>
            <th class="sorting_disabled">Visit Date</th>
            <th class="sorting_disabled">Status</th>
            <th class="sorting_disabled">Claim type</th>
            <th class="sorting_disabled">Days until Payment</th>
            <th class="sorting_disabled">Assigned to</th>
            <th class="sorting_disabled"></th>
          </tr>
        </thead>
      </table>
    </div>
  </div>
{% endblock %}

{% block bodyEnd %}
  {% include "includes/advanced-search-scripts.html" %}
{% endblock %}
