{% extends "includes/layout.html" %}

{% block page_title %}
{% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% include "includes/phase_banner_beta.html" %}

  {% include "includes/validation-error-messages.html" %}

  {% import 'partials/navigation.html' as nav %}
    {{nav.active('')}}

  <form action="/config" method="post">
  <h1 class="table-heading">Auto Approval Configuration</h1>
    <div class="form-group">
      <table class="table">
        <tbody>
          <tr {% if errors['auto-approval-enabled'][0] %} class="warning" {% endif %}>
            <td width="22%">
              Auto approval enabled
            </td>
            <td>
              Controls whether claims that meet the rules below will be automatically approved
            </td>
            <td width="25%">
              <div class="pull-right">
                <fieldset class="inline">
                  <div class="multiple-choice">
                    <input id="auto-approval-on" type="radio" name="AutoApprovalEnabled" value="true" {% if autoApprovalConfig.AutoApprovalEnabled %} checked {% endif %}>
                    <label for="auto-approval-on" class="block-label inline">
                      <span>On</span>
                    </label>
                  </div>
                  <div class="multiple-choice">
                    <input id="auto-approval-off" type="radio" name="AutoApprovalEnabled" value="false" {% if not autoApprovalConfig.AutoApprovalEnabled %} checked {% endif %}>
                    <label for="auto-approval-off" class="block-label inline no-right-padding">
                      <span>Off</span>
                    </label>
                  </div>
                </fieldset>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <br>
      <table class="table">
        <thead>
          <tr>
          <th>Value</th>
          <th>Description</th>
          <th></th>
          </tr>
        </thead>
        <tbody>
          <tr {% if errors['cost-variance-percentage'][0] %} class="warning" {% endif %}>
            <td>
              Auto approval cost variance
            </td>
            <td>
              Controls the cost variance percentage used for auto approval (e.g. 10)
            </td>
            <td width="20%" class="percentage-wrapper">
              <span>%</span>
              <input id="cost-variance-percentage" type="text" name="CostVariancePercentage" class="form-control" value="{{ autoApprovalConfig.CostVariancePercentage }}">
            </td>
          </tr>

          <tr {% if errors['max-claim-total'][0] %} class="warning" {% endif %}>
            <td>
              Max claim total
            </td>
            <td>
              Controls the maximum claim total that can be auto-approved (e.g. 250)
            </td>
            <td class="pound-wrapper">
              <span class="pound-symbol">£</span>
              <input id="max-claim-total" type="text" name="MaxClaimTotal" class="form-control" value="{{ autoApprovalConfig.MaxClaimTotal }}">
            </td>
          </tr>

          <tr {% if errors['max-days-after-apvu-visit'][0] %} class="warning" {% endif %}>
            <td>
              Max days after APVU visit
            </td>
            <td>
              Controls the number of days after a visit that a claim can be auto-approved (e.g. 28)
            </td>
            <td>
              <input id="max-days-after-apvu-visit" type="text" name="MaxDaysAfterAPVUVisit" class="form-control" value="{{ autoApprovalConfig.MaxDaysAfterAPVUVisit }}">
              <label>days</label>
            </td>
          </tr>

          <tr {% if errors['max-number-of-claims-per-year'][0] %} class="warning" {% endif %}>
            <td>
              Max number of claims per year
            </td>
            <td>
              Controls the maximum number of claims that can be auto-approved per year (e.g. 26)
            </td>
            <td>
              <input id="max-number-of-claims-per-year" type="text" name="MaxNumberOfClaimsPerYear" class="form-control" value="{{ autoApprovalConfig.MaxNumberOfClaimsPerYear }}">
              <label>claims</label>
            </td>
          </tr>

          <tr {% if errors['max-number-of-claims-per-month'][0] %} class="warning" {% endif %}>
            <td>
              Max number of claims per month
            </td>
            <td>
              Controls the maximum number of claims that can be auto-approved per month (e.g. 4)
            </td>
            <td>
              <input id="max-number-of-claims-per-month" type="text" name="MaxNumberOfClaimsPerMonth" class="form-control" value="{{ autoApprovalConfig.MaxNumberOfClaimsPerMonth }}">
              <label>claims</label>
            </td>
          </tr>

          <tr {% if errors['number-of-consecutive-auto-approvals'][0] %} class="warning" {% endif %}>
            <td>
              Number of consecutive auto approvals
            </td>
            <td>
              Controls the maximum number of consecutive auto approvals before a claim is forced to be manual (e.g. 4)
            </td>
            <td>
              <input id="number-of-consecutive-auto-approvals" type="text" name="NumberOfConsecutiveAutoApprovals" class="form-control" value="{{ autoApprovalConfig.NumberOfConsecutiveAutoApprovals }}">
              <label>approvals</label>
            </td>
          </tr>
        </thead>
        </tbody>
      </table>
    </div>

    <!-- Rules -->
    <div class="form-group">
      <table class="table">
        <thead>
          <tr>
            <th>Check</th>
            <th>Description</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% for key, rule in autoApprovalRulesEnum %}
          <tr>
            <td>
              {{ rule.displayName }}
            </td>
            <td>
              {{ rule.description }}
            </td>
            <td>
              <div class="form-group">
                <div class="multiple-choice">
                  <input type="checkbox" id="check-{{ rule.value }}" name="rulesEnabled" value="{{ rule.value }}" class="form-control" {% if rule.value not in rulesDisabled %} checked {% endif %}>
                  <label for="check-{{ rule.value }}" class="block-label"></label>
                </div>
              </div>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

    {% include "partials/csrf-hidden-input.html" %}

    <input type="submit" class="button" value="Save">
  </form>
  <br>
  <a href="/" class="link">Cancel</a>
  </form>
</main>

{% endblock %}
