{% extends "includes/layout.html" %}

{% block page_title %}
{% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% include "includes/phase_banner_beta.html" %}

  <h1 class="table-heading">Configuration</h1>

  <form action="/config" method="post">
    <div class="form-group">
      <table class="table">
        <thead>
          <tr>
          <th>Rule</th>
          <th>Description</th>
          <th></th>
          </tr>
        </thead>
        <tbody>
          <!-- Auto Approval Enabled -->
          <tr>
            <td>
              Auto Approval Enabled
            </td>
            <td>
              Controls auto approval globally
            </td>
            <td>
              <label for="auto-approval-on" class="block-label inline">
                <input id="auto-approval-on" type="radio" name="AutoApprovalEnabled" value="true" {% if autoApprovalConfig.AutoApprovalEnabled %} checked {% endif %}>
                <span>On</span>
              </label>
              <label for="auto-approval-off" class="block-label inline">
                <input id="auto-approval-off" type="radio" name="AutoApprovalEnabled" value="false" {% if not autoApprovalConfig.AutoApprovalEnabled %} checked {% endif %}>
                <span>Off</span>
              </label>
            </td>
          </tr>

          <!-- Auto Approval Cost Variance -->
          <tr>
            <td>
              Auto Approval Cost Variance
            </td>
            <td>
              Controls the cost variance used for auto approval
            </td>
            <td>
              <input id="cost-variance" type="number" name="CostVariancePercentage" class="form-control" value="{{ autoApprovalConfig.CostVariancePercentage }}">
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    {% include "partials/csrf-hidden-input.html" %}

    <input type="submit" class="button">
  </form>

</main>

{% endblock %}