{% extends "includes/layout_new.html" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/select/macro.njk" import govukSelect %}

{% set activeMainNav = 'dashboard' %}

{% block content %}
{{ govukBackLink({
  text: "Back",
  href: "/"
}) }}

<form action='/dashboard' method="GET">
  {{ govukSelect({
    id: "filter",
    name: "filter",
    label: {
      text: "Filter by"
    },
    items: [
      {
        value: "TODAY",
        text: "Today",
        selected: activeFilter === 'TODAY'
      },
      {
        value: "YESTERDAY",
        text: "Yesterday",
        selected: activeFilter === 'YESTERDAY'
      },
      {
        value: "LAST_7_DAYS",
        text: "Last 7 days",
        selected: activeFilter === 'LAST_7_DAYS'
      },
      {
        value: "ONE_MONTH_AGO",
        text: filterMonths.oneMonthAgo,
        selected: activeFilter === 'ONE_MONTH_AGO'
      },
      {
        value: "TWO_MONTHS_AGO",
        text: filterMonths.twoMonthsAgo,
        selected: activeFilter === 'TWO_MONTHS_AGO'
      },
      {
        value: "THREE_MONTHS_AGO",
        text: filterMonths.threeMonthsAgo,
        selected: activeFilter === 'THREE_MONTHS_AGO'
      },
      {
        value: "FOUR_MONTHS_AGO",
        text: filterMonths.fourMonthsAgo,
        selected: activeFilter === 'FOUR_MONTHS_AGO'
      }
    ]
  }) }}
</form>

<div class="grid-row">
  <article class="moj-ticket-panel" aria-label="Sub navigation 1">
    <div class="column-one-third">
      <section class="moj-ticket-panel__content moj-ticket-panel__content--blue" aria-label="Section 1">
        <h2 class="govuk-heading-m govuk-!-margin-bottom-2">Pending</h2>
        <p class="govuk-body">{{ pendingCount }}</p>
      </section>
    </div>

    <div class="column-one-third">
      <section class="moj-ticket-panel__content moj-ticket-panel__content--blue" aria-label="Section 1">
        <h2 class="govuk-heading-m govuk-!-margin-bottom-2">In Progress</h2>
        <p class="govuk-body">{{ inProgressCount }}</p>
      </section>
    </div>

    <div class="column-one-third">
      <section class="moj-ticket-panel__content moj-ticket-panel__content--blue" aria-label="Section 1">
        <h2 class="govuk-heading-m govuk-!-margin-bottom-2">Paid</h2>
        <p class="govuk-body">{{ paidCount }}</p>
      </section>
    </div>

    <div class="column-one-third">
      <section class="moj-ticket-panel__content moj-ticket-panel__content--blue" aria-label="Section 1">
        <h2 class="govuk-heading-m govuk-!-margin-bottom-2">Auto approved</h2>
        <p class="govuk-body">{{ autoApprovedCount }}</p>
      </section>
    </div>

    <div class="column-one-third">
      <section class="moj-ticket-panel__content moj-ticket-panel__content--blue" aria-label="Section 1">
        <h2 class="govuk-heading-m govuk-!-margin-bottom-2">Manually approved</h2>
        <p class="govuk-body">{{ manuallyApprovedCount }}</p>
      </section>
    </div>

    <div class="column-one-third">
      <section class="moj-ticket-panel__content moj-ticket-panel__content--blue" aria-label="Section 1">
        <h2 class="govuk-heading-m govuk-!-margin-bottom-2">Rejected</h2>
        <p class="govuk-body">{{ rejectedCount }}</p>
      </section>
    </div>
  </article>
</div>
{% endblock %}

{% block bodyEnd %}
  {% include "includes/dashboard-scripts.html" %}
{% endblock %}