{% extends "includes/layout_new.html" %}
{% from "moj/components/ticket-panel/macro.njk" import mojTicketPanel %}
{% from "govuk/components/select/macro.njk" import govukSelect %}

{% set activeMainNav = 'dashboard' %}

{% block content %}

<div class="govuk-heading-xl">Dashboard</div>

<form action='/dashboard' method="GET" id="dateFilter">
  {{ govukSelect({
    id: "filter",
    name: "filter",
    label: {
      text: "Filter by"
    },
    items: [
      {
        value: "TODAY",
        text: "Today",
        selected: activeFilter === 'TODAY'
      },
      {
        value: "YESTERDAY",
        text: "Yesterday",
        selected: activeFilter === 'YESTERDAY'
      },
      {
        value: "LAST_7_DAYS",
        text: "Last 7 days",
        selected: activeFilter === 'LAST_7_DAYS'
      },
      {
        value: "ONE_MONTH_AGO",
        text: filterMonths.oneMonthAgo,
        selected: activeFilter === 'ONE_MONTH_AGO'
      },
      {
        value: "TWO_MONTHS_AGO",
        text: filterMonths.twoMonthsAgo,
        selected: activeFilter === 'TWO_MONTHS_AGO'
      },
      {
        value: "THREE_MONTHS_AGO",
        text: filterMonths.threeMonthsAgo,
        selected: activeFilter === 'THREE_MONTHS_AGO'
      },
      {
        value: "FOUR_MONTHS_AGO",
        text: filterMonths.fourMonthsAgo,
        selected: activeFilter === 'FOUR_MONTHS_AGO'
      }
    ]
  }) }}
</form>

<div class="govuk-grid-row">
{{ mojTicketPanel({
  attributes: {
    'aria-label': 'Pending'
  },
  classes: 'govuk-grid-column-one-third',
  items: [{
    html: '<h2 class="govuk-heading-l govuk-!-margin-bottom-2">' + pendingCount + '</h2>
    <p class="govuk-body">Pending</p>',
    classes: 'moj-ticket-panel__content--blue'
  }]
}) }}

{{ mojTicketPanel({
  attributes: {
    'aria-label': 'In Progress'
  },
  classes: 'govuk-grid-column-one-third',
  items: [{
    html: '<h2 class="govuk-heading-l govuk-!-margin-bottom-2">' + inProgressCount + '</h2>
    <p class="govuk-body">In Progress</p>',
    classes: 'moj-ticket-panel__content--blue'
  }]
}) }}

{{ mojTicketPanel({
  attributes: {
    'aria-label': 'Paid Count'
  },
  classes: 'govuk-grid-column-one-third',
  items: [{
    html: '<h2 class="govuk-heading-l govuk-!-margin-bottom-2">' + paidCount + '</h2>
    <p class="govuk-body">Paid</p>',
    classes: 'moj-ticket-panel__content--blue'
  }]
}) }}

{{ mojTicketPanel({
  attributes: {
    'aria-label': 'Auto Approved'
  },
  classes: 'govuk-grid-column-one-third',
  items: [{
    html: '<h2 class="govuk-heading-l govuk-!-margin-bottom-2">' + autoApprovedCount + '</h2>
    <p class="govuk-body">Auto Approved</p>',
    classes: 'moj-ticket-panel__content--blue'
  }]
}) }}

{{ mojTicketPanel({
  attributes: {
    'aria-label': 'Manually Approved'
  },
  classes: 'govuk-grid-column-one-third',
  items: [{
    html: '<h2 class="govuk-heading-l govuk-!-margin-bottom-2">' + manuallyApprovedCount + '</h2>
    <p class="govuk-body">Manually Approved</p>',
    classes: 'moj-ticket-panel__content--blue'
  }]
}) }}

{{ mojTicketPanel({
  attributes: {
    'aria-label': 'Rejected'
  },
  classes: 'govuk-grid-column-one-third',
  items: [{
    html: '<h2 class="govuk-heading-l govuk-!-margin-bottom-2">' + rejectedCount + '</h2>
    <p class="govuk-body">Rejected</p>',
    classes: 'moj-ticket-panel__content--blue'
  }]
}) }}
</div>

{% endblock %}

{% block bodyEnd %}
  {% include "includes/dashboard-scripts.html" %}
{% endblock %}
