{% extends "includes/layout_new.html" %}

{% set activeMainNav = 'download' %}

{% block content %}

<div class="govuk-heading-xl">Download payment files</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <h3 class="govuk-heading-m">SSCL Access Pay file</h3>

    {% if topAccessPayFile %}
      <p class="govuk-body"><a href="/download-payment-files/download?id={{ topAccessPayFile.PaymentFileId }}" class="govuk-link">
        Download file for {{ dateHelper.shortDateAndTime(topAccessPayFile.DateCreated) }}
      </a></p>
    {% endif %}

    <br><br>

    {% if previousAccessPayFiles %}
      <div class="govuk-form-group">
        <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Previous AccessPay files
            </span>
          </summary>
          <div class="govuk-details__text">
            <ul class="govuk-list govuk-list--bullet">
              {% for previousAccessPayFile in previousAccessPayFiles %}
                <li>
                  <a href="/download-payment-files/download?id={{ previousAccessPayFile.PaymentFileId }}" class="govuk-link">
                    Download file for {{ dateHelper.shortDateAndTime(previousAccessPayFile.DateCreated) }}
                  </a>
                </li>
              {% endfor %}
            </ul>
          </div>
        </details>
      </div>
    {% endif %}
  </div>
  <div class="govuk-grid-column-one-third">
    <h3 class="govuk-heading-m">APVU Access Pay file</h3>

    {% if topApvuAccessPayFile %}
      <p class="govuk-body"><a href="/download-payment-files/download?id={{ topApvuAccessPayFile.PaymentFileId }}" class="govuk-link">
        Download file for {{ dateHelper.shortDateAndTime(topApvuAccessPayFile.DateCreated) }}
      </a></p>
    {% endif %}

    <br><br>

    {% if previousApvuAccessPayFiles %}
      <div class="govuk-form-group">
        <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Previous APVU AccessPay files
            </span>
          </summary>
          <div class="govuk-details__text">
            <ul class="govuk-list govuk-list--bullet">
              {% for previousApvuAccessPayFile in previousApvuAccessPayFiles %}
                <li>
                  <a href="/download-payment-files/download?id={{ previousApvuAccessPayFile.PaymentFileId }}" class="govuk-link">
                    Download file for {{ dateHelper.shortDateAndTime(previousApvuAccessPayFile.DateCreated) }}
                  </a>
                </li>
              {% endfor %}
            </ul>
          </div>
        </details>
      </div>
    {% endif %}
  </div>
  <div class="govuk-grid-column-one-third">
    <h3 class="govuk-heading-m">ADI Journal</h3>

    {% if topAdiJournalFile %}
      <p class="govuk-body"><a href="/download-payment-files/download?id={{ topAdiJournalFile.PaymentFileId }}" class="govuk-link">
        Download transactions for {{ dateHelper.shortDateAndTime(topAdiJournalFile.DateCreated) }}
      </a></p>
    {% endif %}

    <br><br>

    {% if previousAdiJournalFiles %}
      <div class="govuk-form-group">
        <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Previous ADI Journals
            </span>
          </summary>
          <div class="govuk-details__text">
            <ul class="govuk-list govuk-list--bullet">
              {% for previousAdiJournalFile in previousAdiJournalFiles %}
                <li>
                  <a href="/download-payment-files/download?id={{ previousAdiJournalFile.PaymentFileId }}" class="govuk-link">
                    Download transactions for {{ dateHelper.shortDateAndTime(previousAdiJournalFile.DateCreated) }}
                  </a>
                </li>
              {% endfor %}
            </ul>
          </div>
        </details>
      </div>
    {% endif %}
  </div>
</div>

{% endblock %}
