{% extends "includes/layout.html" %}

{% block page_title %}
{% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% include "includes/phase_banner_beta.html" %}

  <div class="column-one-half search">
    <form action="/search">
      <label for="input-search-query">
        <input type="text" name="q" class="form-control" id="input-search-query">
      </label>
      <input type="submit" class="button" value="Search"></a>
    </form>
    <br>
  </div>

  <ul class="sub-tabs">
    <li><a href="/" {% if active == undefined %} class="active">New <span class="badge"></span>{% else %}>New{% endif %}</a></li>
    <li><a href="/?status=UPDATED"{% if active == 'UPDATED' %} %} class="active">Updated <span class="badge"></span>{% else %}>Updated{% endif %}</a></li>
    <li><a href="/?status=PENDING"{% if active == 'PENDING' %} class="active">Pending <span class="badge"></span>{% else %}>Pending{% endif %}</a></li>
    <li><a href="/?status=ADVANCE"{% if active == 'ADVANCE' %} class="active">Advance <span class="badge"></span>{% else %}>Advance{% endif %}</a></li>
    <li><a href="/?status=ADVANCE-APPROVED"{% if active == 'ADVANCE-APPROVED' %} class="active">Advance pending<span class="badge"></span>{% else %}>Advance pending{% endif %}</a></li>
    <li><a href="/?status=ADVANCE-UPDATED"{% if active == 'ADVANCE-UPDATED' %} class="active">Advance updated<span class="badge"></span>{% else %}>Advance updated{% endif %}</a></li>
  </ul>

  <table id="claims" class="table">
  	<thead>
	  <tr>
		<th>Ref No.</th>
		<th>Name</th>
		<th>Submitted</th>
		<th>Claim Type</th>
		<th></th>
	  </tr>
  	</thead>
  </table>

  {% if user %}
  <p>
    <a href="{{ user.assistedDigitalUrl }}">Submit a claim on behalf of a claimant</a>
  </p>
  {% endif %}

</main>

{% endblock %}

{% block body_end %}
  {% include "includes/claims-scripts.html" %}
{% endblock %}