{% extends "includes/layout_new.html" %}

{% block pageTitle %}
{% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% set activeMainNav = 'claims' %}

{% block content %}

  <div class="search">
    <form action="/search">
      <label for="input-search-query">
        <input id="input-search-query" type="text" name="q" class="form-control" value="{{ query }}">
      </label>
      <input type="submit" class="button" value="Search"></a>
      <a id="advanced-search" href="/advanced-search-input" class="link margin-left">Advanced search</a>
    </form>
  </div>

  <h2 class="heading-medium">Search results</h2>

  <table id="search-results" class="table">
  	<thead>
	  <tr>
		<th>Ref no.</th>
		<th>Name</th>
    <th>Submitted</th>
    <th>Visit Date</th>
    <th>Status</th>
		<th>Claim type</th>
    <th>Assigned to</th>
		<th></th>
	  </tr>
  	</thead>
  </table>
{% endblock %}

{% block bodyEnd %}
  {% include "includes/search-scripts.html" %}
{% endblock %}
