{% extends "includes/layout.html" %}

{% block page_title %}
{% if serviceName %} {{ serviceName }} {% endif %}
{% endblock %}

{% block content %}

<main id="content" role="main">

  {% include "includes/phase_banner_beta.html" %}

  <ul id="sub-nav">
    <li>
      <a href="/dashboard">Dashboard</a>
    </li>
    <li>
      <a href="/" class="active">Claims</a>
    </li>
  </ul>

  <div class="search">
    <form action="/search">
      <label for="input-search-query">
        <input id="input-search-query" type="text" name="q" class="form-control" value="{{ query }}">
      </label>
      <input type="submit" class="button" value="Search"></a>
    </form>
  </div>

  <h2 class="heading-medium">Search results</h2>

  <table id="search-results" class="table">
  	<thead>
	  <tr>
		<th>Ref No.</th>
		<th>Name</th>
		<th>Submitted</th>
		<th>Claim Type</th>
		<th></th>
	  </tr>
  	</thead>
  </table>

</main>

{% endblock %}

{% block body_end %}
  {% include "includes/search-scripts.html" %}
{% endblock %}
